Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, eslint, prettier

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-check:
  run: uv run ruff check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

docs(09): complete chat interface phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-chat-interface/09-VERIFICATION.md
Due: none

FIX : Redact modal fix
  frontend/src/components/library/RedactModal.tsx
Due: eslint, prettier

fix(deploy): add Google Maps API key to Secret Manager and backend service
  terraform/cloud-run.tf
  terraform/secrets.tf
Due: none

FIX : Lint+misc error fix
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/notebook/Notebook.tsx
Due: eslint, prettier

fix(09): resolve SSE non-text parts warning and chat session history
  backend/app/api/chat.py
  backend/app/services/chat_service.py
Due: ruff-format, ruff-check

fix(09): citation chip formats, double bubble, tools expanded by default
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

fix(09): resolve KG/synthesis citations to actual file references
  backend/app/agents/chat_tools.py
  backend/app/agents/prompts/chat.py
Due: ruff-format, ruff-check

FIX: Downgrade to docker/build-push-action@v5 to resolve Persistent 429 errors
  .github/workflows/deploy.yml
Due: none

fix(09): disable citation chips and source viewer in chatbot UI
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

fix: guard non-file-backed sources from click and improve PDF highlighting
  frontend/src/components/EventDetail/EventDetailModal.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphEntityPanel.tsx
  frontend/src/components/source-viewer/PdfViewer.tsx
  frontend/src/components/ui/source-entries.tsx
  frontend/src/components/verdict/ContradictionDetailPanel.tsx
  frontend/src/components/verdict/HypothesisDetailPanel.tsx
  frontend/src/hooks/useSourceNavigation.ts
  frontend/src/lib/source-partition.ts
Due: eslint, prettier

refactor: enforce citation quality in domain agent prompts and pipeline
  backend/app/agents/prompts/_citation_rules.py
  backend/app/agents/prompts/evidence.py
  backend/app/agents/prompts/financial.py
  backend/app/agents/prompts/legal.py
  backend/app/agents/prompts/strategy.py
  backend/app/api/files.py
  backend/app/schemas/agent.py
  backend/app/services/file_service.py
  backend/app/services/findings_service.py
Due: ruff-format, ruff-check

refactor: simplify analysis trigger to single button with confirm-refresh pattern
  frontend/src/components/app/analysis-trigger.tsx
Due: eslint, prettier

refactor: remove verdict summary subtitle from case header
  frontend/src/app/(app)/cases/[id]/layout.tsx
Due: eslint, prettier

refactor: disable strategy agent from analysis pipeline
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

refactor: remove strategy agent from command center graph and transfer colors to orchestrator
  frontend/src/app/globals.css
  frontend/src/components/CommandCenter/InstanceRoutingView.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/lib/command-center-config.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

fix: resolve knowledge graph empty render in production
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

docs: add demo credentials and architecture diagram to README
  README.md
Due: none

Final docs
  DOCS/Holmes-Arch.png
  SUBMISSION_WRITEUP.md
Due: none

Path conditions:
  ruff-format: any of: backend/**/*.py and ^backend/
  ruff-check: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
