Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format --check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: bun eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: bun prettier --check {staged_files}

docs(01-05): complete frontend skeleton plan
  .planning/STATE.md
  .planning/phases/01-foundation-infrastructure/01-05-SUMMARY.md
Due: none

docs(frontend): next.js template readme
  frontend/README.md
Due: none

fix(frontend): nextjs turbopack setup for dockerfile deployment
  frontend/Dockerfile
  frontend/next.config.ts
Due: none

docs(01-04): complete FastAPI backend skeleton plan
  .planning/STATE.md
  .planning/phases/01-foundation-infrastructure/01-04-SUMMARY.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(01-04): configure Alembic async migrations and Dockerfile
  backend/Dockerfile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/.gitkeep
Due: ruff-check, ruff-format

fix(backend): resolve mypy errors and correct pydantic2ts package name
  .planning/phases/01-foundation-infrastructure/01-01-PLAN.md
  .planning/phases/01-foundation-infrastructure/01-01-SUMMARY.md
  .planning/phases/01-foundation-infrastructure/01-RESEARCH.md
  backend/app/config.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-check, ruff-format

docs(01-03): complete type generation pipeline plan
  .planning/phases/01-foundation-infrastructure/01-03-SUMMARY.md
Due: none

docs(phase-1): complete foundation infrastructure phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation-infrastructure/01-06-SUMMARY.md
  .planning/phases/01-foundation-infrastructure/01-VERIFICATION.md
Due: none

feat(01-06): add GitHub Actions CI/CD workflow for Cloud Run
  .github/workflows/deploy.yml
Due: none

feat(01-05): add production Dockerfile for frontend
  frontend/Dockerfile
Due: none

feat(ci): push latest tag and use real images in terraform
  .github/workflows/deploy.yml
  .planning/LESSONS-LEARNED.md
  terraform/cloud-run.tf
Due: none

docs: add lessons learned from phase 1 deployment
  .planning/LESSONS-LEARNED.md
Due: none

fix(ci): resolve pipeline auth, caching, and dependency configuration
  .github/workflows/deploy.yml
  Makefile
  backend/pyproject.toml
Due: none

docs: add quick start guide with setup instructions
  GUIDE.md
Due: none

docs: renamed "Agent Trace Theater" to a more mature "Agent Flow"
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
  DOCS/ideation/IDEA.md
  DOCS/ideation/IDEA_HUMAN.md
  DOCS/ideation/PRD.md
Due: none

docs: updated README for project overview
  README.md
Due: none

docs(01.1): capture phase context and add landing page spec
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-CONTEXT.md
  DOCS/UI/LANDING-INIT.md
Due: none

docs(01.1): research frontend design foundation domain
  .planning/phases/01.1-frontend-design-foundation/01.1-RESEARCH.md
Due: none

docs(01.1): create phase plan for frontend design foundation
  .planning/ROADMAP.md
  .planning/phases/01.1-frontend-design-foundation/01.1-01-PLAN.md
  .planning/phases/01.1-frontend-design-foundation/01.1-02-PLAN.md
  .planning/phases/01.1-frontend-design-foundation/01.1-03-PLAN.md
  .planning/phases/01.1-frontend-design-foundation/01.1-04-PLAN.md
  .planning/phases/01.1-frontend-design-foundation/01.1-05-PLAN.md
Due: none

chore(01.1-01): install motion animation library
  bun.lock
  frontend/package.json
Due: none

feat(01.1-01): configure design tokens and glass utilities
  frontend/src/app/globals.css
Due: prettier

feat(01.1-01): configure Fraunces font in layout
  frontend/src/app/layout.tsx
Due: eslint, prettier

docs(01.1-01): complete design tokens & typography plan
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-01-SUMMARY.md
Due: none

feat(01.1-02): add shared animation utilities library
  frontend/src/lib/animations.ts
Due: eslint, prettier

feat(01.1-02): add GlassCard component with glass styling
  frontend/src/components/ui/glass-card.tsx
  frontend/src/components/ui/index.ts
Due: eslint, prettier

feat(01.1-02): add AnimatedSection component for scroll-triggered reveals
  frontend/src/components/landing/animated-section.tsx
Due: eslint, prettier

docs(01.1-02): complete UI primitives & animation utilities plan
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-02-SUMMARY.md
Due: none

feat(01.1-03): create navigation component with glass styling
  frontend/src/components/landing/navigation.tsx
Due: eslint, prettier

feat(01.1-03): create hero section with parallax scroll effect
  frontend/src/components/landing/hero.tsx
Due: eslint, prettier

feat(01.1-03): create problem section with staggered scroll reveal
  frontend/src/app/page.tsx
  frontend/src/components/landing/problem-section.tsx
Due: eslint, prettier

docs(01.1-03): complete above-the-fold sections plan
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-03-SUMMARY.md
Due: none

feat(01.1-04): create solution section with glass card layout
  frontend/src/components/landing/solution-section.tsx
Due: eslint, prettier

feat(01.1-04): create how it works workflow diagram section
  frontend/src/app/page.tsx
  frontend/src/components/landing/how-it-works.tsx
Due: eslint, prettier

feat(01.1-04): create feature highlights section with capability cards
  frontend/src/app/page.tsx
  frontend/src/components/landing/feature-highlights.tsx
Due: eslint, prettier

docs(01.1-04): complete core content sections plan
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-04-SUMMARY.md
Due: none

feat(01.1-05): add trust section and footer components
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/trust-section.tsx
Due: eslint, prettier

feat(01.1-05): create CTA section with animated call-to-action
  frontend/src/components/landing/cta-section.tsx
Due: eslint, prettier

feat(01.1-05): assemble complete landing page with all 9 sections
  frontend/src/app/page.tsx
Due: eslint, prettier

feat(landing): refine typography and add video scroll animation
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/landing/cta-section.tsx
  frontend/src/components/landing/feature-highlights.tsx
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/how-it-works.tsx
  frontend/src/components/landing/navigation.tsx
  frontend/src/components/landing/problem-section.tsx
  frontend/src/components/landing/solution-section.tsx
  frontend/src/components/landing/trust-section.tsx
  lefthook.yml
Due: eslint, prettier

feat(landing): add premium cream palette with Liquid Glass effect system
  frontend/src/app/globals.css
  frontend/src/components/landing/cta-section.tsx
  frontend/src/components/landing/feature-highlights.tsx
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/how-it-works.tsx
  frontend/src/components/landing/navigation.tsx
  frontend/src/components/landing/solution-section.tsx
  frontend/src/components/landing/trust-section.tsx
  frontend/src/components/ui/glass-card.tsx
Due: eslint, prettier
