Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format --check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: npx eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: npx prettier --check {staged_files}

pre-push:
  commands:
    generate-types:
      run: |
        make generate-types
        if [ -n "$(git status --porcelain packages/types/)" ]; then
          echo "Type generation produced changes. Run 'make generate-types' and commit the results before pushing."
          git diff -- packages/types/
          exit 1
        fi

fix: show split dropdown for cases with prior analysis
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/app/analysis-trigger.tsx
Due: eslint, prettier

feat: add frontend analysis API module and update Case type
  frontend/src/lib/api/analysis.ts
  frontend/src/types/case.ts
Due: eslint, prettier

feat: add AnalysisTrigger component and integrate in case layout
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/app/analysis-trigger.tsx
Due: eslint, prettier

feat: add AnalysisMode enum and AnalysisStartRequest schema
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat: add analysis mode, concurrency guard, and case status lifecycle
  backend/app/api/agents.py
Due: ruff-check, ruff-format

feat: add latest_workflow_id column to cases table
  backend/alembic/versions/b3a1f7c42e90_add_latest_workflow_id_to_cases.py
  backend/app/models/case.py
  backend/app/schemas/case.py
Due: ruff-check, ruff-format

fix: session-scoped error handling, safety net, and bug fixes
  backend/app/agents/domain_runner.py
  backend/app/config.py
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

refactor: extract pipeline from agents.py to services/pipeline.py
  backend/app/api/agents.py
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

fix: refetch case data when files are uploaded or deleted
  frontend/src/app/globals.css
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidencePreviewModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidenceViewer.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/lib/case-events.ts
Due: eslint, prettier

fix: clear command center state when new analysis starts
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/case-events.ts
Due: eslint, prettier

docs: add pipeline flow documentation
  DOCS/FULLSTACK/REQUEST_FLOW.md
Due: none

fix: reset triggerState when caseStatus changes
  frontend/src/components/app/analysis-trigger.tsx
Due: eslint, prettier

refactor: config-driven domain agents
  backend/app/agents/domain_agent_runner.py
  backend/app/agents/evidence.py
  backend/app/agents/financial.py
  backend/app/agents/legal.py
  backend/app/agents/strategy.py
Due: ruff-check, ruff-format

fix: resolve all mypy type errors across pipeline and domain runner
  backend/app/agents/domain_runner.py
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

docs: add pipeline refactor status tracking document
  DOCS/PIPELINE-REFACTOR-STATUS.md
Due: none

fix: preserve agent state across browser refresh during pipeline
  frontend/src/hooks/useAgentStates.ts
Due: eslint, prettier

fix: commit triage execution record before orchestrator starts
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

refactor: shared AgentResult serializer + snapshot workflow_id fix
  backend/app/api/sse.py
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

fix: authoritative state snapshot + processing-complete cleanup
  backend/app/services/pipeline.py
  frontend/src/hooks/useAgentStates.ts
Due: ruff-check, ruff-format, eslint, prettier

fix: commit strategy execution record before HITL stage
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

feat: cache agent states in sessionStorage for refresh resilience
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/agent-state-cache.ts
Due: eslint, prettier

feat: reposition strategy agent below domain agents in graph topology
  frontend/src/lib/command-center-config.ts
Due: eslint, prettier

feat: build compound snapshot keys from agent_name + stage_suffix
  backend/app/api/sse.py
Due: ruff-check, ruff-format

refactor: simplify agent-state-cache to instance-keyed model
  frontend/src/lib/agent-state-cache.ts
Due: eslint, prettier

refactor: instance-keyed state model in useAgentStates
  frontend/src/hooks/useAgentStates.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

refactor: instance-based nodes and edge resolution in graph builder
  frontend/src/lib/command-center-graph.ts
Due: eslint, prettier

feat: update component layer for instance-based agent model
  frontend/src/app/(app)/cases/[id]/command-center-demo/page.tsx
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/ExecutionTimeline.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/hooks/useAgentFlowGraph.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

fix: guard against empty group_label in snapshot key construction
  backend/app/api/sse.py
Due: ruff-check, ruff-format

fix: replace type lie with no-op for file group node onNodeClick
  frontend/src/lib/command-center-graph.ts
Due: eslint, prettier

fix: harden instance resolution, cache validation, and history isolation
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/agent-state-cache.ts
Due: eslint, prettier

fix: type-safe node props and memoization-safe graph builder
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/FileGroupNode.tsx
  frontend/src/hooks/useAgentFlowGraph.ts
  frontend/src/lib/command-center-graph.ts
Due: eslint, prettier

fix: replace stale render-time clock with event-driven timestamp
  frontend/src/components/CommandCenter/CommandCenter.tsx
Due: eslint, prettier

fix: add SSE event replay buffer for triage agent idle state
  backend/app/api/sse.py
  backend/app/services/__init__.py
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format

style: apply formatter and fix lint errors in redaction module
  backend/app/agents/image_redaction.py
  backend/app/agents/redaction.py
  backend/app/agents/redaction_integration_example.py
  backend/app/agents/video_redaction.py
  backend/app/api/files.py
  backend/app/api/redaction.py
  backend/app/schemas/redaction.py
  backend/redact_pdf.py
  backend/test_image_redaction.py
  backend/test_redaction.py
  backend/test_video_redaction.py
  frontend/src/app/globals.css
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidencePreviewModal.tsx
  frontend/src/hooks/useFileUrlCache.ts
  frontend/src/lib/api/redaction.ts
Due: ruff-check, ruff-format, eslint, prettier

fix: generated api types for new backend schema
  packages/types/src/generated/api.ts
Due: none

feat: display dynamic model names from SSE metadata
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/lib/command-center-config.ts
  frontend/src/lib/formatting.ts
Due: eslint, prettier

feat: show filenames instead of UUIDs in routing table
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/types/command-center.ts
Due: ruff-check, ruff-format, eslint, prettier

feat: auto fitView graph on canvas container resize
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
Due: eslint, prettier

feat: add markdown rendering for agent detail sidebar content
  bun.lock
  frontend/package.json
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/components/ui/markdown-content.tsx
Due: eslint, prettier

feat: show filenames instead of group labels for domain agents
  backend/app/agents/domain_agent_runner.py
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/types/command-center.ts
Due: ruff-check, ruff-format, eslint, prettier
