Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: bun eslint {staged_files}

prettier:
  run: bun prettier --check {staged_files}

feat(landing): add ethereal shadow background without animation
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/components/landing/cta-section.tsx
  frontend/src/components/landing/ethereal-shadow.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/problem-section.tsx
  frontend/src/components/landing/section-divider.tsx
Due: eslint, prettier

feat(landing): add colorful flow effect with scroll-animated SVG paths
  bun.lock
  frontend/package.json
  frontend/src/components/landing/google-gemini-effect.tsx
  frontend/src/components/landing/solution-section.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-media-query.ts
  frontend/src/lib/utils.ts
Due: eslint, prettier

feat(landing-nav): add logo with letter-by-letter scroll fade animation
  frontend/public/logo.png
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/navigation.tsx
Due: eslint, prettier

feat(landing): enhance liquid glass cards and unify section styling
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/landing/cta-section.tsx
  frontend/src/components/landing/feature-highlights.tsx
  frontend/src/components/landing/google-gemini-effect.tsx
  frontend/src/components/landing/how-it-works.tsx
  frontend/src/components/landing/problem-section.tsx
  frontend/src/components/landing/solution-section.tsx
  frontend/src/components/landing/trust-section.tsx
Due: eslint, prettier

style(hero): redesign play button as compact circular glass icon
  frontend/src/components/landing/hero.tsx
Due: eslint, prettier

chore(landing): remove security signals and update footer attribution
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/trust-section.tsx
Due: eslint, prettier

chore(landing): fixed all rights reserved footer year to 2026
  frontend/src/components/landing/footer.tsx
Due: eslint, prettier

fix(logo): use pre-sized 2x image to prevent scaling artifacts
  frontend/public/logo-1x.png
  frontend/public/logo-2x.png
  frontend/public/logo-3x.png
  frontend/public/logo.png
  frontend/public/logo.svg
  frontend/src/components/landing/navigation.tsx
Due: eslint, prettier

docs(phase-1.1): add completion summary and update roadmap status
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01.1-frontend-design-foundation/01.1-05-SUMMARY.md
  .planning/phases/01.1-frontend-design-foundation/01.1-CONTEXT.md
  DOCS/UI/LANDING.md
Due: none

docs(design-system): add design system guide and light mode tokens
  DOCS/UI/DESIGN-SYSTEM.md
  frontend/src/app/globals.css
Due: prettier

docs(02): capture phase context
  .planning/ROADMAP.md
  .planning/phases/02-authentication-case-shell/02-CONTEXT.md
Due: none

docs(02): research phase domain
  .planning/phases/02-authentication-case-shell/02-RESEARCH.md
Due: none

docs(02): create phase 2 authentication and case shell plans
  .planning/ROADMAP.md
  .planning/phases/02-authentication-case-shell/02-01-PLAN.md
  .planning/phases/02-authentication-case-shell/02-02-PLAN.md
  .planning/phases/02-authentication-case-shell/02-03-PLAN.md
  .planning/phases/02-authentication-case-shell/02-04-PLAN.md
  .planning/phases/02-authentication-case-shell/02-05-PLAN.md
  .planning/phases/02-authentication-case-shell/02-06-PLAN.md
Due: none

docs(02): revise plans for deployment readiness
  .planning/phases/02-authentication-case-shell/02-01-PLAN.md
  .planning/phases/02-authentication-case-shell/02-03-PLAN.md
  .planning/phases/02-authentication-case-shell/02-05-PLAN.md
  .planning/phases/02-authentication-case-shell/02-06-PLAN.md
  .planning/phases/02-authentication-case-shell/02-07-PLAN.md
Due: none

fix(02): revise plans based on checker feedback
  .planning/phases/02-authentication-case-shell/02-01-PLAN.md
  .planning/phases/02-authentication-case-shell/02-03-PLAN.md
  .planning/phases/02-authentication-case-shell/02-07-PLAN.md
Due: none

feat(02-07): create Secret Manager resources for auth secrets
  terraform/secrets.tf
Due: none

feat(02-07): update Cloud Run services with auth infrastructure
  terraform/cloud-run.tf
  terraform/iam.tf
Due: none

feat(02-07): update CI/CD with migrations and auth env vars
  .github/workflows/deploy.yml
Due: none

docs(02-07): complete auth deployment infrastructure plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-07-SUMMARY.md
Due: none

feat(02-01): add auth models and JWT validation dependency
  backend/app/api/auth.py
  backend/app/config.py
  backend/app/models/__init__.py
  backend/app/models/auth.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-check, ruff-format

feat(02-01): add case model and migration for cases table
  backend/alembic/versions/d8ed3accb0f4_add_cases_table.py
  backend/app/models/__init__.py
  backend/app/models/case.py
Due: ruff-check, ruff-format

feat(02-01): register auth router in FastAPI app
  backend/app/main.py
Due: ruff-check, ruff-format

docs(02-01): complete backend auth infrastructure plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-01-SUMMARY.md
Due: none

chore(02-03): install better auth and form dependencies
  bun.lock
  frontend/package.json
Due: none

feat(02-03): add Better Auth server and client configuration with JWT plugin
  bun.lock
  frontend/package.json
  frontend/src/app/api/auth/[...all]/route.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/auth-client.ts
  frontend/src/lib/auth.ts
Due: eslint, prettier

feat(02-03): add route protection middleware and auth env vars
  frontend/.env.example
  frontend/src/middleware.ts
Due: eslint, prettier

docs(02-03): complete frontend authentication setup plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-03-SUMMARY.md
Due: none

feat(02-02): add Pydantic schemas for case CRUD operations
  backend/app/schemas/__init__.py
  backend/app/schemas/case.py
Due: ruff-check, ruff-format

feat(02-02): implement case CRUD endpoints with user ownership
  backend/app/api/cases.py
  backend/app/main.py
Due: ruff-check, ruff-format

feat(02-02): add case update endpoint with partial update support
  backend/app/api/cases.py
  backend/app/schemas/case.py
Due: ruff-check, ruff-format

docs(02-02): complete case CRUD API plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-02-SUMMARY.md
Due: none

feat(02-04): add auth validation schemas
  frontend/src/lib/validations/auth.ts
Due: eslint, prettier

feat(02-04): add auth form components
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/auth/signup-form.tsx
Due: eslint, prettier

feat(02-04): add auth page with tabbed login/signup interface
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/page.tsx
Due: eslint, prettier

docs(02-04): complete auth UI components plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-04-SUMMARY.md
Due: none

feat(02-05): create logout hook and auth listener
  frontend/src/components/app/auth-listener.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-logout.ts
Due: eslint, prettier

feat(02-05): create sidebar and user menu components
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/app/user-menu.tsx
Due: eslint, prettier

feat(02-05): create app layout with server-side auth
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/app/user-menu.tsx
Due: eslint, prettier

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
