Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format --check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: npx eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: npx prettier --check {staged_files}

pre-push:
  commands:
    generate-types:
      run: |
        make generate-types
        if [ -n "$(git status --porcelain packages/types/)" ]; then
          echo "Type generation produced changes. Run 'make generate-types' and commit the results before pushing."
          git diff -- packages/types/
          exit 1
        fi

refactor(06-06): consolidate magic numbers into Settings config
  backend/app/agents/base.py
  backend/app/api/agents.py
  backend/app/config.py
  backend/app/services/adk_service.py
Due: ruff-check, ruff-format

feat(06-06): add extract_structured_json generic parser to parsing.py
  backend/app/agents/parsing.py
Due: ruff-check, ruff-format

feat(06-06): extract DomainAgentRunner Template Method base class
  backend/app/agents/domain_agent_runner.py
Due: ruff-check, ruff-format

refactor(06-06): migrate 4 domain agents to DomainAgentRunner base class
  backend/app/agents/evidence.py
  backend/app/agents/financial.py
  backend/app/agents/legal.py
  backend/app/agents/strategy.py
Due: ruff-check, ruff-format

fix(06-06): asyncio fire-and-forget, exception narrowing, type safety
  backend/app/agents/base.py
  backend/app/agents/domain_runner.py
  backend/app/api/agents.py
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat(06-06): add routing confidence scoring and HITL for uncertain routes
  backend/app/agents/prompts/orchestrator.py
  backend/app/api/agents.py
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat(06-06): enable strategy agent standalone execution with HITL
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): use pydantic ValidationError for stored output parsing
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): catch ValidationError in generic parser, preserve failure records
  backend/app/agents/domain_agent_runner.py
  backend/app/agents/parsing.py
Due: ruff-check, ruff-format

refactor(06-06): extract _build_standard_content() into DomainAgentRunner
  backend/app/agents/domain_agent_runner.py
  backend/app/agents/evidence.py
  backend/app/agents/financial.py
  backend/app/agents/legal.py
Due: ruff-check, ruff-format

feat(06-06): add per-agent-type routing HITL thresholds
  backend/app/config.py
Due: ruff-check, ruff-format

feat(06-06): strengthen orchestrator routing bias and confidence guidance
  backend/app/agents/prompts/orchestrator.py
Due: ruff-check, ruff-format

feat(06-06): per-agent-type routing HITL with per-agent rejection
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): distinguish deliberate strategy-only routing from domain failure
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): batch per-agent HITL confirmations via asyncio.gather
  backend/app/api/agents.py
Due: ruff-check, ruff-format

feat(06-06): atomic batch confirmation for per-agent HITL
  backend/app/api/agents.py
  backend/app/api/confirmations.py
  backend/app/services/agent_events.py
  backend/app/services/confirmation.py
Due: ruff-check, ruff-format

docs(06-06): add frontend integration guide for agent pipeline & SSE
  DOCS/FE-GUIDE.md
Due: none

feat(06-06): compound agent type support for SSE pipeline
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

feat(06-06): batch confirmation infrastructure for per-agent HITL
  frontend/src/hooks/useAgentStates.ts
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/api/confirmations.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

feat(06-06): batch confirmation modal and page integration
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/BatchConfirmationModal.tsx
Due: eslint, prettier

fix(06-06): production hardening for command center pipeline
  frontend/src/components/CommandCenter/BatchConfirmationModal.tsx
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/api/confirmations.ts
Due: eslint, prettier

fix(06-06): commit orchestrator execution before domain agent launch
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): catch exceptions in domain agent runner for SSE error emission
  backend/app/agents/domain_runner.py
Due: ruff-check, ruff-format

fix(06-06): include lastResult in state snapshot for refresh resilience
  backend/app/api/sse.py
Due: ruff-check, ruff-format

fix(06-06): commit orchestrator execution before domain agent launch
  backend/app/agents/parsing.py
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix(06-06): merge lastResult in handleAgentComplete to preserve accumulated data
  frontend/src/hooks/useAgentStates.ts
Due: eslint, prettier

fix(06-06): use dict[str, str] for DomainEntity.metadata to fix Gemini schema
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

fix(06-06): merge lastResult in handleStateSnapshot to preserve accumulated traces
  frontend/src/hooks/useAgentStates.ts
Due: eslint, prettier

fix(06-06): add dedicated thinking traces section in AgentDetailsPanel
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
Due: eslint, prettier

fix: compute_agent_tasks tracks covered pairs to dispatch per-file routing
  backend/app/agents/domain_runner.py
Due: ruff-check, ruff-format

fix: gate strategy agent on orchestrator routing decision
  backend/app/api/agents.py
Due: ruff-check, ruff-format

fix: skip thought parts in JSON parsing and consolidate triage parser
  backend/app/agents/parsing.py
  backend/app/agents/triage.py
Due: ruff-check, ruff-format

fix: replace dict with list of MetadataEntry in DomainEntity for structured output compliance
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

fix: flatten routing decisions to one card per (file, agent) pair
  backend/app/api/agents.py
  backend/app/api/sse.py
Due: ruff-check, ruff-format

fix: normalize JSON thinking traces to readable text
  backend/app/agents/parsing.py
Due: ruff-check, ruff-format

docs: update Phase 6 planning docs with post-plan work (35 commits)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-VERIFICATION.md
Due: none

FIX : Multimedia player ,tested
  backend/app/api/files.py
  backend/app/services/file_service.py
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/lib/api/files.ts
Due: ruff-check, ruff-format, eslint, prettier

ADD : Faster file loading
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/evidence-viewer/EvidenceViewer.tsx
  frontend/src/hooks/useFileUrlCache.ts
  frontend/src/lib/api/files.ts
Due: eslint, prettier

ADD : Img and text redaction
  backend/app/agents/image_redaction.py
  backend/app/agents/redaction.py
  backend/app/agents/redaction_integration_example.py
  backend/app/api/redaction.py
  backend/app/main.py
  backend/app/schemas/redaction.py
  backend/create_sample_pdf.py
  backend/pyproject.toml
  backend/redact_pdf.py
  backend/sample.pdf
  backend/test_image_redaction.py
  backend/test_redaction.py
  backend/uv.lock
  frontend/src/components/library/RedactModal.tsx
  frontend/src/lib/api/redaction.ts
Due: ruff-check, ruff-format, eslint, prettier

ADD : VIDEO redact ,sometimes working
  backend/app/agents/video_redaction.py
  backend/app/api/redaction.py
  backend/app/schemas/redaction.py
  backend/test_video_redaction.py
Due: ruff-check, ruff-format
