Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format --check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: npx eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: npx prettier --check {staged_files}

pre-push:
  commands:
    generate-types:
      run: |
        make generate-types
        if [ -n "$(git status --porcelain packages/types/)" ]; then
          echo "Type generation produced changes. Run 'make generate-types' and commit the results before pushing."
          git diff -- packages/types/
          exit 1
        fi

feat: hybrid SSE + React Query for rich agent details
  backend/app/api/agents.py
  backend/app/services/agent_events.py
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/hooks/useAgentExecutionDetail.ts
Due: ruff-check, ruff-format, eslint, prettier

fix: address QC review findings
  backend/app/api/agents.py
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
Due: ruff-check, ruff-format, eslint, prettier

fix: resolve remaining minor QC issues and regenerate types
  backend/app/api/agents.py
  backend/app/schemas/agent.py
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/types/command-center.ts
  packages/types/src/generated/api.ts
Due: ruff-check, ruff-format, eslint, prettier

style: format error and success messages for consistency in redaction scripts
  backend/redact_pdf.py
  backend/test_redaction.py
  backend/test_video_redaction.py
Due: none

ADD : Audio redact
  backend/app/agents/audio_redaction.py
  backend/app/api/redaction.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-check, ruff-format

style: improve formatting and consistency in audio redaction classes and API contracts
  backend/app/agents/audio_redaction.py
  backend/app/api/redaction.py
  packages/types/src/generated/api.ts
Due: ruff-check, ruff-format

ADD : Audio redact
  backend/app/api/redaction.py
Due: ruff-check, ruff-format

FIX : Rebase errors fixes
  frontend/src/components/library/RedactModal.tsx
  frontend/src/lib/api/redaction.ts
Due: eslint, prettier

FIX : Video player compatibillity issues
  backend/app/api/redaction.py
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidenceViewer.tsx
  frontend/src/lib/api/redaction.ts
Due: ruff-check, ruff-format, eslint, prettier

chore: regenerate types after API schema changes
  packages/types/src/generated/api.ts
Due: none

fix: remove duplicate audio redaction endpoint definitions
  backend/app/api/redaction.py
  packages/types/src/generated/api.ts
Due: ruff-check, ruff-format

chore: add comprehensive compliance checks to prevent linting errors
  Makefile
  lefthook.yml
Due: none

fix(command-center): ExecutionTimeline ordering and overflow bugs
  frontend/src/components/CommandCenter/ExecutionTimeline.tsx
Due: eslint, prettier

feat(ui): add reusable ARIA-compliant portal Tooltip component
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/tooltip.tsx
Due: eslint, prettier

refactor(command-center): migrate DecisionNode to shared Tooltip component
  frontend/src/components/CommandCenter/DecisionNode.tsx
Due: eslint, prettier

refactor(sidebar): migrate CSS data-tooltip patterns to shared Tooltip component
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

feat(routing): surface priority and routingConfidence in routing decisions
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
  frontend/src/types/command-center.ts
Due: ruff-check, ruff-format, eslint, prettier

feat(command-center): instance-centric routing view with collapsible agent sections
  frontend/src/components/CommandCenter/InstanceRoutingView.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/components/CommandCenter/index.ts
  frontend/src/lib/formatting.ts
Due: eslint, prettier

fix(command-center): use wrap-break-word for thinking traces pre block
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
Due: eslint, prettier

docs(planning): redesign Phase 7+ architecture for KG-as-Memory pattern
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: none

docs(07): capture phase context
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-CONTEXT.md
Due: none

docs(07): research phase domain
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-RESEARCH.md
Due: none

docs(07): create phase plan
  .planning/ROADMAP.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-01-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-02-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-03-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-04-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-05-PLAN.md
Due: none

fix(07): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-03-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-05-PLAN.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-06-PLAN.md
Due: none

feat(07-01): add 9 SQLAlchemy models for knowledge layer tables
  backend/app/models/__init__.py
  backend/app/models/findings.py
  backend/app/models/knowledge_graph.py
  backend/app/models/synthesis.py
Due: ruff-check, ruff-format

feat(07-01): add Alembic migration for 9 knowledge layer tables
  backend/alembic/versions/c7a1f8d23e51_add_knowledge_tables.py
Due: ruff-check, ruff-format

docs(07-01): complete knowledge layer database schema plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-01-SUMMARY.md
Due: none

feat(07-02): add KG and findings API Pydantic schemas
  backend/app/schemas/findings.py
  backend/app/schemas/knowledge_graph.py
Due: ruff-check, ruff-format

feat(07-02): add findings_text to domain outputs and export KG/findings schemas
  backend/app/schemas/__init__.py
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

docs(07-02): complete KG & findings API schemas plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-02-SUMMARY.md
Due: none

feat(07-03): implement KG Builder service with entity extraction and deduplication
  backend/app/services/kg_builder.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-check, ruff-format

feat(07-03): implement findings storage service with full-text search
  backend/app/services/findings_service.py
Due: ruff-check, ruff-format

docs(07-03): complete KG Builder & Findings Service plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-03-SUMMARY.md
Due: none

feat(07-04): enrich domain agent prompts with citation and findings_text requirements
  backend/app/agents/prompts/evidence.py
  backend/app/agents/prompts/financial.py
  backend/app/agents/prompts/legal.py
  backend/app/agents/prompts/strategy.py
Due: ruff-check, ruff-format

docs(07-04): complete domain agent prompt enrichment plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-04-SUMMARY.md
Due: none

feat(07-05): add KG and findings API routers
  backend/app/api/findings.py
  backend/app/api/knowledge_graph.py
Due: ruff-check, ruff-format

feat(07-05): register KG and findings routers in main.py
  backend/app/main.py
  packages/types/src/generated/api.ts
Due: ruff-check, ruff-format

docs(07-05): complete KG and findings API endpoints plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-05-SUMMARY.md
Due: none

feat(07-06): add SSE event types for findings and KG operations
  backend/app/services/agent_events.py
Due: ruff-check, ruff-format

feat(07-06): wire KG Builder and findings storage into analysis pipeline
  backend/app/services/pipeline.py
Due: ruff-check, ruff-format
