Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

ADD : added timeline feature
  bun.lock
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/timeline/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/EventDetail/EventDetailModal.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/Timeline/TimelineSkeleton.tsx
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/components/providers.tsx
  frontend/src/constants/timeline.constants.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useTimelineData.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/hooks/useTimelineSSE.ts
  frontend/src/lib/api/timelineApi.ts
  frontend/src/lib/cache/offlineStorage.ts
  frontend/src/lib/cache/timelineCache.ts
  frontend/src/lib/mock-timeline-data.ts
  frontend/src/lib/utils/dateFormatters.ts
  frontend/src/lib/utils/deduplication.ts
  frontend/src/lib/utils/eventProcessors.ts
  frontend/src/types/timeline.types.ts
Due: eslint, prettier

FIX : Redirect and JWT issue fixed ,BETTER_AUTH_SECRET was the root cause
  frontend/src/app/(app)/cases/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(marketing)/page.tsx
  frontend/src/app/clear-invalid-session.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/middleware.ts
Due: eslint, prettier

FIX : Linter errors
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/INTEGRATION-EXAMPLE.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/ui/expandable-tabs.tsx
  frontend/src/hooks/useDrag.ts
  frontend/src/hooks/usePanelState.ts
  frontend/src/hooks/useZoom.ts
  frontend/src/types/knowledge-graph.ts
Due: eslint, prettier

FIX : Fixed zoom behaviour related errors
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/clear-invalid-session.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/hooks/useDrag.ts
  frontend/src/hooks/useZoom.ts
  frontend/src/middleware.ts
Due: eslint, prettier

ADD : Source panel view for evidence nodes
  frontend/src/components/app/evidence-source-panel.tsx
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

FIX : Optional chaining fix added to evidence source panel
  frontend/src/components/app/evidence-source-panel.tsx
Due: eslint, prettier

FIX : more deployment errors
  frontend/src/components/app/evidence-source-panel.tsx
Due: eslint, prettier

ADD : Chatbot feature , icon + window
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/app/chatbot.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useChatbot.ts
  frontend/src/types/chatbot.ts
Due: eslint, prettier

FIX : Chatbot window issue
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

ADD : Thinking animation
  frontend/src/components/app/chatbot.tsx
  frontend/src/hooks/useChatbot.ts
  frontend/src/types/chatbot.ts
Due: eslint, prettier

FIX : Chat window color scheme
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

FIX : Chat window resize issue
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

ADD : Command center full feature
  frontend/src/app/(app)/cases/[id]/command-center-demo/page.tsx
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/AgentNode.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/README.md
  frontend/src/components/CommandCenter/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/command-center-config.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

FIX : deployment fixes
  frontend/src/app/(app)/cases/[id]/command-center-demo/page.tsx
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/AgentNode.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/README.md
  frontend/src/components/app/chatbot.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/hooks/useChatbot.ts
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
Due: eslint, prettier

ADD : EVIDENCE LIBRARY
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/app/(app)/cases/[id]/library/page.tsx
  frontend/src/app/(app)/cases/[id]/upload/page.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/README.md
  frontend/src/components/library/index.ts
Due: eslint, prettier

docs: reconcile planning docs with Yatharth's frontend work
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

fix: prevent login redirect failure by moving ClearInvalidSession to app layout
  frontend/.env.example
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/app/(app)/cases/[id]/upload/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/clear-invalid-session.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/README.md
Due: eslint, prettier

style: update Tailwind classes to v4 syntax
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/app/(app)/cases/[id]/timeline/page.tsx
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/EventDetail/EventDetailModal.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/Timeline/TimelineSkeleton.tsx
  frontend/src/components/app/case-card.tsx
  frontend/src/components/app/chatbot.tsx
  frontend/src/components/app/evidence-source-panel.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/expandable-tabs.tsx
Due: eslint, prettier

fix: resolve session cookie detection for production HTTPS
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/navigation.ts
  frontend/src/middleware.ts
Due: eslint, prettier

style: fix cursor-pointer and simplify expandable tabs
  frontend/src/app/globals.css
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/navigation.tsx
  frontend/src/components/ui/expandable-tabs.tsx
Due: eslint, prettier

refactor: replace sidebar with topbar navigation
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/app/topbar.tsx
Due: eslint, prettier

feat: enhance CI/CD pipeline with caching and health checks for backend and frontend
  .github/workflows/deploy.yml
Due: none

docs(03): capture phase context
  .planning/phases/03-file-ingestion/03-CONTEXT.md
Due: none

docs(03): research phase domain
  .planning/phases/03-file-ingestion/03-RESEARCH.md
Due: none

docs(03): create phase 3 file ingestion plans
  .planning/ROADMAP.md
  .planning/phases/03-file-ingestion/03-01-PLAN.md
  .planning/phases/03-file-ingestion/03-02-PLAN.md
  .planning/phases/03-file-ingestion/03-03-PLAN.md
Due: none

feat(03-01): add CaseFile model with FileStatus and FileCategory enums
  backend/app/models/__init__.py
  backend/app/models/case.py
  backend/app/models/file.py
Due: ruff-check, ruff-format

feat(03-01): add migration for case_files table
  backend/alembic/versions/461979103c5a_add_case_files_table.py
Due: ruff-check, ruff-format

feat(03-01): add Pydantic schemas for file API
  backend/app/schemas/__init__.py
  backend/app/schemas/file.py
Due: ruff-check, ruff-format

docs(03-01): complete file model and schemas plan
  .planning/STATE.md
  .planning/phases/03-file-ingestion/03-01-SUMMARY.md
Due: none

chore(03-02): add python-multipart dependency
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(03-02): create file service with GCS upload logic
  backend/app/services/__init__.py
  backend/app/services/file_service.py
Due: ruff-check, ruff-format

feat(03-02): create files router with upload endpoint
  backend/app/api/files.py
  backend/app/main.py
Due: ruff-check, ruff-format

docs(03-02): complete file upload API plan
  .planning/STATE.md
  .planning/phases/03-file-ingestion/03-02-SUMMARY.md
Due: none

feat(03-03): add file list, download, and delete endpoints
  backend/app/api/files.py
  backend/app/services/__init__.py
  backend/app/services/file_service.py
Due: ruff-check, ruff-format

feat(03-03): add file status SSE endpoint with pubsub
  backend/app/api/files.py
  backend/app/api/sse.py
Due: ruff-check, ruff-format

feat(03-03): integrate CaseLibrary with backend file APIs
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/lib/api/files.ts
Due: eslint, prettier

docs(03-03): complete file management plan
  .planning/STATE.md
  .planning/phases/03-file-ingestion/03-03-SUMMARY.md
Due: none

docs(03): complete file ingestion phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/03-file-ingestion/03-VERIFICATION.md
Due: none

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
