Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format --check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: npx eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: npx prettier --check {staged_files}

pre-push:
  commands:
    generate-types:
      run: |
        make generate-types
        if [ -n "$(git status --porcelain packages/types/)" ]; then
          echo "Type generation produced changes. Run 'make generate-types' and commit the results before pushing."
          git diff -- packages/types/
          exit 1
        fi

fix: add file_name to TriageFileResult, make optional in RoutingDecision
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

refactor: extract shared parsing helpers into agents/parsing module
  backend/app/agents/orchestrator.py
  backend/app/agents/parsing.py
  backend/app/agents/triage.py
Due: ruff-check, ruff-format

fix: handle multiple duplicate files in upload duplicate detection query
  backend/app/api/files.py
Due: ruff-check, ruff-format

fix: add types for case analysis and command center streaming
  packages/types/src/generated/api.ts
Due: none

fix: prevent dev_api_key from leaking into OpenAPI schema in CI
  backend/app/api/auth.py
Due: ruff-check, ruff-format

docs: add Cloud SQL database access instructions to GUIDE.md
  GUIDE.md
Due: none

FIX : API URL mismatch
  frontend/src/constants/timeline.constants.ts
  frontend/src/lib/api/files.ts
Due: eslint, prettier

ADD : Color scheme to knowledge graph nodes
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/constants/timeline.constants.ts
Due: eslint, prettier

ADD : Timeline color scheme change
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/constants/timeline.constants.ts
Due: eslint, prettier

FIX : Timeline color changes
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/Timeline/TimelineSkeleton.tsx
Due: eslint, prettier

FIX : More spacing in knowledge graph
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

docs: remove redundant documentation and migration guides for Knowledge Graph and Evidence Library components
  frontend/src/components/CommandCenter/README.md
  frontend/src/components/app/KNOWLEDGE-GRAPH-README.md
  frontend/src/components/app/MIGRATION-GUIDE.md
  frontend/src/components/library/README.md
  frontend/src/hooks/KNOWLEDGE-GRAPH-HOOKS.md
  frontend/src/hooks/QUICK-REFERENCE.md
  frontend/src/hooks/README.md
Due: prettier

Light mode fixes
  frontend/src/app/globals.css
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/app/chatbot.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/app/theme-toggle.tsx
  frontend/src/components/library/CaseLibrary.tsx
Due: eslint, prettier

ADD : Timeline color fix
  frontend/src/app/globals.css
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/app/theme-toggle.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/constants/timeline.constants.ts
Due: eslint, prettier

docs: insert Phase 4.1 for Agent Decision Tree revamp
  .planning/ROADMAP.md
  .planning/STATE.md
  DOCS/UI/agent-decision-tree-guide.md
Due: none

fix(04.1): update dependency installation instructions and remove unnecessary types
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-01-PLAN.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-RESEARCH.md
Due: none

docs(04.1): capture phase context
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-CONTEXT.md
Due: none

docs(04.1): research phase domain
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-RESEARCH.md
Due: none

docs(04.1): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-01-PLAN.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-02-PLAN.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-03-PLAN.md
Due: none

fix(04.1): revise plans based on checker feedback
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-02-PLAN.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-03-PLAN.md
Due: none

chore(04.1-01): install @xyflow/react + dagre and add scoped teal CSS variables
  bun.lock
  frontend/package.json
  frontend/src/app/globals.css
Due: prettier

feat(04.1-01): create DecisionNode component and update config with teal color system
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/lib/command-center-config.ts
Due: eslint, prettier

docs(04.1-01): complete dependencies-config-DecisionNode plan
  .planning/STATE.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-01-SUMMARY.md
Due: none

feat(04.1-02): create NodeDetailsSidebar shell with spring animation and shared sections
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
Due: eslint, prettier

docs(04.1-02): complete NodeDetailsSidebar plan
  .planning/STATE.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-02-SUMMARY.md
Due: none

feat(04.1-03): rewrite AgentFlowCanvas with ReactFlow + dagre and create FileGroupNode
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/FileGroupNode.tsx
  frontend/src/lib/command-center-config.ts
Due: eslint, prettier

feat(04.1-03): integrate ReactFlowProvider, progressive tree build, file groups, and sidebar
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/index.ts
Due: eslint, prettier

docs(04.1-03): complete ReactFlow canvas integration plan
  .planning/STATE.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-03-SUMMARY.md
Due: none

feat(04.1-04): reduce agent color saturation for muted palette
  frontend/src/app/globals.css
  frontend/src/lib/command-center-config.ts
Due: eslint, prettier

feat(04.1-03): add agent state hooks, layout engine, and supporting updates
  bun.lock
  frontend/package.json
  frontend/src/components/CommandCenter/FileGroupNode.tsx
  frontend/src/components/app/theme-toggle.tsx
  frontend/src/hooks/useAgentFlowGraph.ts
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/command-center-layout.ts
  frontend/src/lib/mock-command-center-data.ts
Due: eslint, prettier

feat(04.1-04): gray edges, click-to-expand FileRoutingEdge, muted node glow
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/FileRoutingEdge.tsx
  frontend/src/lib/command-center-graph.ts
Due: eslint, prettier

feat(04.1-04): lift sidebar to page level as 30% screen-width panel
  frontend/src/app/(app)/cases/[id]/command-center-demo/page.tsx
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
Due: eslint, prettier

docs(04.1): update planning docs to reflect all 18 commits across 4 plans
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-03-SUMMARY.md
  .planning/phases/04.1-agent-decision-tree-revamp/04.1-04-SUMMARY.md
Due: none

fix(04.1): boost node colors, restore hover glow, fix ReactFlow border
  frontend/src/app/globals.css
  frontend/src/components/CommandCenter/DecisionNode.tsx
Due: eslint, prettier

refactor: extract shared CanvasZoomControls from canvas components
  frontend/src/components/CommandCenter/AgentFlowCanvas.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/ui/canvas-zoom-controls.tsx
Due: eslint, prettier

docs: update Phase 5 description to reflect 4.1 revamp
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(05): capture phase context
  .planning/phases/05-agent-flow/05-CONTEXT.md
Due: none

style: compact case detail header and reduce heading sizes
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/expandable-tabs.tsx
Due: eslint, prettier

style: increase canvas height for command center and knowledge graph
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
Due: eslint, prettier

style: reduce font sizes and align subheading color in evidence library
  frontend/src/components/library/CaseLibrary.tsx
Due: eslint, prettier
