Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, eslint, prettier

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-check:
  run: uv run ruff check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

docs(07-06): complete pipeline wiring plan
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-06-SUMMARY.md
Due: none

docs(07): complete knowledge storage & domain agent enrichment phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-knowledge-storage--and--domain-agent-enrichment/07-VERIFICATION.md
Due: none

feat(07): add DomainAgentOutput protocol and DomainRunResult dataclass
  backend/app/agents/domain_runner.py
  backend/app/schemas/agent.py
Due: ruff-format, ruff-check

fix(07): propagate execution_id from runner to pipeline and KG builder
  backend/app/agents/domain_agent_runner.py
  backend/app/agents/evidence.py
  backend/app/agents/financial.py
  backend/app/agents/legal.py
  backend/app/agents/strategy.py
  backend/app/services/kg_builder.py
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

fix(07): stop duplicating output-level findings_text into every finding
  backend/app/services/findings_service.py
Due: ruff-format, ruff-check

chore(07): add exception handling comment and minor issues log
  .planning/MINOR_ISSUES.md
  backend/app/agents/domain_runner.py
Due: ruff-format, ruff-check

docs: log fuzzy matching and entity count issues for Phase 8
  .planning/MINOR_ISSUES.md
  .planning/ROADMAP.md
Due: none

docs(07): restructure phases 7.1-7.3 for LLM KG builder and D3.js frontend
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  DOCS/reference/epstein-network-ui/README.md
Due: none

docs(07.1): capture phase context
  .planning/phases/07.1-llm-kg-builder-agent/07.1-CONTEXT.md
Due: none

docs(07.1): research LLM KG Builder agent domain
  .planning/phases/07.1-llm-kg-builder-agent/07.1-RESEARCH.md
Due: none

docs(07.1): create phase plan for LLM KG Builder agent
  .planning/ROADMAP.md
  .planning/phases/07.1-llm-kg-builder-agent/07.1-01-PLAN.md
  .planning/phases/07.1-llm-kg-builder-agent/07.1-02-PLAN.md
Due: none

feat(07.1-01): DB schema evolution for LLM KG Builder
  backend/alembic/versions/e4b2c1a37f90_evolve_kg_schema_for_llm_builder.py
  backend/app/models/knowledge_graph.py
Due: ruff-format, ruff-check

feat(07.1-01): KG Builder LLM output schema and API response updates
  backend/app/schemas/kg_builder.py
  backend/app/schemas/knowledge_graph.py
  packages/types/src/generated/api.ts
Due: ruff-format, ruff-check

docs(07.1-01): complete schema evolution plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07.1-llm-kg-builder-agent/07.1-01-SUMMARY.md
Due: none

feat(07.1-02): KG Builder agent runner, prompt, factory, and DB writer
  backend/app/agents/factory.py
  backend/app/agents/kg_builder.py
  backend/app/agents/prompts/kg_builder.py
  backend/app/services/kg_builder.py
Due: ruff-format, ruff-check

feat(07.1-02): wire LLM KG Builder into pipeline, replace programmatic builder
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

docs(07.1-02): complete KG Builder agent implementation plan
  .planning/STATE.md
  .planning/phases/07.1-llm-kg-builder-agent/07.1-02-SUMMARY.md
Due: none

docs(07.1): complete LLM-Based KG Builder Agent phase
  .planning/ROADMAP.md
  .planning/phases/07.1-llm-kg-builder-agent/07.1-VERIFICATION.md
Due: none

fix(07.1): use savepoints for KG entity/relationship inserts and rollback on failure
  backend/app/agents/kg_builder.py
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

docs(07.2): capture phase context for KG Frontend Enhancement
  .gitignore
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-CONTEXT.md
Due: none

docs(07.2): research KG frontend D3.js enhancement phase
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-RESEARCH.md
Due: none

docs(07.2): create phase plan for KG Frontend D3.js Enhancement
  .planning/ROADMAP.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-01-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-02-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-03-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-04-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-05-PLAN.md
Due: none

fix(07.2): revise plans based on checker feedback
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-01-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-02-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-03-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-04-PLAN.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-05-PLAN.md
Due: none

feat(07.2-01): rewrite KG types to match backend schema, add d3-scale
  bun.lock
  frontend/package.json
  frontend/src/types/knowledge-graph.ts
Due: eslint, prettier

feat(07.2-01): add KG config, API client, and real-data hook
  frontend/src/hooks/use-case-graph.ts
  frontend/src/lib/api/graph.ts
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

docs(07.2-01): complete foundation types, config, and API layer plan
  .planning/STATE.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-01-SUMMARY.md
Due: none

feat(07.2-02): source viewer modal shell, PdfViewer, and media deps
  bun.lock
  frontend/package.json
  frontend/src/components/source-viewer/AudioViewer.tsx
  frontend/src/components/source-viewer/ImageViewer.tsx
  frontend/src/components/source-viewer/PdfViewer.tsx
  frontend/src/components/source-viewer/SourceViewerModal.tsx
  frontend/src/components/source-viewer/VideoViewer.tsx
Due: eslint, prettier

feat(07.2-02): AudioViewer, VideoViewer, and ImageViewer components
  frontend/src/components/source-viewer/AudioViewer.tsx
  frontend/src/components/source-viewer/ImageViewer.tsx
  frontend/src/components/source-viewer/VideoViewer.tsx
Due: eslint, prettier

refactor(07.2-02): evidence-source-panel to shared source viewer wrapper
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/app/evidence-source-panel.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

docs(07.2-02): complete source viewer modal and media components plan
  .planning/STATE.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-02-SUMMARY.md
Due: none

feat(07.2-03): create useGraphSimulation and useGraphSelection hooks
  frontend/src/hooks/useGraphSelection.ts
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

feat(07.2-03): create GraphSvg D3 force-directed graph canvas
  frontend/src/components/knowledge-graph/GraphSvg.tsx
Due: eslint, prettier

docs(07.2-03): complete GraphSvg D3 force canvas plan
  .planning/STATE.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-03-SUMMARY.md
Due: none

feat(07.2-04): useGraphFilters hook and FilterPanel component
  frontend/src/components/knowledge-graph/FilterPanel.tsx
  frontend/src/hooks/useGraphFilters.ts
Due: eslint, prettier

feat(07.2-04): EntityTimeline sidebar and EntityTimelineEntry component
  frontend/src/components/knowledge-graph/EntityTimeline.tsx
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
Due: eslint, prettier

docs(07.2-04): complete FilterPanel + EntityTimeline plan
  .planning/STATE.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-04-SUMMARY.md
Due: none

feat(07.2-05): KnowledgeGraphCanvas 3-panel orchestrator and page rewrite
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/INTEGRATION-EXAMPLE.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
  frontend/src/hooks/useCluster.ts
  frontend/src/hooks/useDrag.ts
  frontend/src/hooks/useForceSimulation.ts
  frontend/src/lib/d3-helpers.ts
  frontend/src/lib/graph-event-emitter.ts
  frontend/src/lib/mock-graph-data.ts
Due: eslint, prettier

fix(07.2): orchestrator corrections
  frontend/src/components/knowledge-graph/GraphSvg.tsx
Due: eslint, prettier

refactor(07.2-fix): extract CanvasShell and CollapsibleSection shared components
  frontend/src/components/CommandCenter/CommandCenter.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/components/ui/canvas-shell.tsx
  frontend/src/components/ui/collapsible-section.tsx
Due: eslint, prettier

feat(07.2-fix): KG entity detail in app-wide sidebar and CanvasShell wrapper
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphEntityPanel.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

Path conditions:
  ruff-format: any of: backend/**/*.py and ^backend/
  ruff-check: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
