Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat(sidebar): remove back button and case name, make active tabs more prominent
  frontend/src/components/app/case-nav-section.tsx
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

style(cases): increase font size for case name and description
  frontend/src/app/(app)/cases/[id]/layout.tsx
Due: eslint, prettier

feat(sidebar): add manual toggle button for collapse/expand control
  frontend/src/components/app/sidebar.tsx
Due: eslint, prettier

refactor(sidebar): improve spacing, transitions, width, and active state logic
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

fix(sidebar): resolve active state conflicts by replacing inline style manipulation with CSS classes
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

fix(sidebar): eliminate hover flicker by using color-mix instead of opacity
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

fix(sidebar): ensure Cases icon only appears white when active, not at all times
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

feat(sidebar): add instant tooltips on hover for collapsed sidebar icons
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

fix(sidebar): set sidebar z-index to 1000 to ensure tooltips and menu appear above canvas
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/app/user-menu.tsx
Due: eslint, prettier

fix(sidebar): add position relative to toggle button for correct tooltip placement
  frontend/src/components/app/sidebar.tsx
Due: eslint, prettier

feat(library): reduce upload box height, move redact tip to filters, fix double scrollbar
  frontend/src/app/(app)/cases/[id]/library/page.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/file-upload.tsx
Due: eslint, prettier

feat: add app-wide resizable right detail sidebar
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/providers.tsx
  frontend/src/contexts/detail-sidebar-context.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDetailSidebar.ts
  frontend/src/hooks/useResizeHandle.ts
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

feat(sidebar): migrate KG evidence panel to detail sidebar, unify toggle
  frontend/src/app/(app)/cases/[id]/command-center-demo/page.tsx
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/app/evidence-source-panel.tsx
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

docs(GUIDE): improve theming section formatting and add clarity
  frontend/GUIDE.md
Due: none

feat: replace Vercel branding with Holmes favicon and logo
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
  frontend/public/icon-16x16.png
  frontend/public/icon-32x32.png
  frontend/public/logo-with-bg.png
  frontend/public/site.webmanifest
  frontend/public/vercel.svg
  frontend/src/app/layout.tsx
Due: eslint, prettier

chore: optimize CI/CD pipeline for parallel frontend/backend builds
  .dockerignore
  .github/workflows/deploy.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
Due: none

ADD : view feature on evidence library
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/evidence-viewer/EvidencePreviewModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidenceViewer.tsx
  frontend/src/components/ui/evidence-viewer/index.ts
Due: eslint, prettier

fix: add backend self-sign IAM and resolve CORS origin in Cloud Run
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/evidence-viewer/EvidenceViewer.tsx
  terraform/cloud-run.tf
  terraform/iam.tf
Due: eslint, prettier

feat(06-01): factory extension, infrastructure updates, and orchestrator prompt
  backend/app/agents/base.py
  backend/app/agents/factory.py
  backend/app/agents/prompts/orchestrator.py
  backend/app/services/adk_service.py
Due: ruff-check, ruff-format

docs(06-01): complete domain-output-schemas plan
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-01-SUMMARY.md
Due: none

docs(06): create phase plan
  .planning/ROADMAP.md
  .planning/phases/06-domain-agents/06-01-PLAN.md
  .planning/phases/06-domain-agents/06-02-PLAN.md
  .planning/phases/06-domain-agents/06-03-PLAN.md
  .planning/phases/06-domain-agents/06-04-PLAN.md
  .planning/phases/06-domain-agents/06-05-PLAN.md
Due: none

docs(06): capture phase context
  .planning/phases/06-domain-agents/06-CONTEXT.md
Due: none

docs(06): revise plans for file-group spawning and context injection
  .planning/phases/06-domain-agents/06-01-PLAN.md
  .planning/phases/06-domain-agents/06-02-PLAN.md
  .planning/phases/06-domain-agents/06-03-PLAN.md
  .planning/phases/06-domain-agents/06-04-PLAN.md
  .planning/phases/06-domain-agents/06-05-PLAN.md
  .planning/phases/06-domain-agents/06-CONTEXT.md
Due: none

fix(06): revise plans based on checker feedback
  .planning/phases/06-domain-agents/06-01-PLAN.md
  .planning/phases/06-domain-agents/06-03-PLAN.md
  .planning/phases/06-domain-agents/06-05-PLAN.md
Due: none

docs(06): research domain agents phase
  .planning/phases/06-domain-agents/06-RESEARCH.md
Due: none

feat(06-02): financial and legal agent system prompts
  backend/app/agents/prompts/financial.py
  backend/app/agents/prompts/legal.py
Due: ruff-check, ruff-format

feat(06-02): evidence and strategy agent system prompts
  backend/app/agents/prompts/evidence.py
  backend/app/agents/prompts/strategy.py
Due: ruff-check, ruff-format

feat(06-01): domain output schemas, shared types, and context_injection field
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat(06-03): financial agent module with context injection and Pro-to-Flash fallback
  backend/app/agents/financial.py
Due: ruff-check, ruff-format

docs(06-05): complete pipeline-wiring plan
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-05-SUMMARY.md
Due: none

docs(06): complete domain-agents phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-VERIFICATION.md
Due: none

feat(06-05): add emit_agent_fallback helper and wire Stage 3 parallel domain agents
  backend/app/api/agents.py
  backend/app/services/agent_events.py
Due: ruff-check, ruff-format

chore(06-02): export domain agent prompts from package init
  backend/app/agents/prompts/__init__.py
Due: ruff-check, ruff-format

feat(06-05): update status endpoint for multi-instance domain agents
  backend/app/api/agents.py
Due: ruff-check, ruff-format

feat(06-04): strategy agent module
  backend/app/agents/strategy.py
Due: ruff-check, ruff-format

docs(06-02): complete domain-agent-prompts plan
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-02-SUMMARY.md
Due: none

docs(06-03): complete domain-agent-modules plan
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-03-SUMMARY.md
Due: none

feat(06-05): wire Stage 4 strategy agent, Stage 5 HITL, relocate file status update
  backend/app/api/agents.py
Due: ruff-check, ruff-format

docs(06-04): complete strategy-agent plan
  .planning/STATE.md
  .planning/phases/06-domain-agents/06-04-SUMMARY.md
Due: none

feat(06-03): legal/evidence agents and file-group parallel runner with compute_agent_tasks
  backend/app/agents/domain_runner.py
  backend/app/agents/evidence.py
  backend/app/agents/legal.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
