Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, eslint, prettier

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-check:
  run: uv run ruff check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat(08-04): TypeScript types for synthesis API responses
  frontend/src/types/synthesis.ts
Due: eslint, prettier

feat(08-04): API client and React Query hooks for synthesis endpoints
  frontend/src/hooks/useSynthesisData.ts
  frontend/src/lib/api/synthesis.ts
Due: eslint, prettier

docs(08-04): complete synthesis frontend data layer plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-04-SUMMARY.md
Due: none

feat(08-05): verdict card components
  frontend/src/components/verdict/ContradictionCard.tsx
  frontend/src/components/verdict/GapCard.tsx
  frontend/src/components/verdict/HypothesisCard.tsx
  frontend/src/components/verdict/KeyFindingCard.tsx
  frontend/src/components/verdict/TaskCard.tsx
  frontend/src/components/verdict/VerdictSummary.tsx
Due: eslint, prettier

feat(08-05): VerdictView main layout with sidebar descriptor types
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/verdict/VerdictView.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

docs(08-05): complete verdict frontend views plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-05-SUMMARY.md
Due: none

ADD : Notebook feature
  .planning/SHERLOCKS_DIARY_SPEC.md
  backend/alembic/versions/add_case_notes_table.py
  backend/app/api/notes.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/case.py
  backend/app/models/note.py
  backend/app/schemas/__init__.py
  backend/app/schemas/notes.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/app/(app)/cases/[id]/notebook/page.tsx
  frontend/src/components/app/case-nav-section.tsx
  frontend/src/components/notebook/AudioRecorder.tsx
  frontend/src/components/notebook/NoteCard.tsx
  frontend/src/components/notebook/Notebook.tsx
  frontend/src/components/notebook/ViewToggle.tsx
  frontend/src/components/notebook/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useNotes.ts
  frontend/src/lib/api/notes.ts
  frontend/src/middleware.ts
Due: ruff-format, ruff-check, eslint, prettier

feat(08-06): wire verdict detail panels into DetailSidebar
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/verdict/ContradictionDetailPanel.tsx
  frontend/src/components/verdict/GapDetailPanel.tsx
  frontend/src/components/verdict/HypothesisDetailPanel.tsx
  packages/types/src/generated/api.ts
Due: eslint, prettier

ADD : modal ml files
  REDACT_MODAL_CODE/img.py
  REDACT_MODAL_CODE/video.py
Due: none

feat(08-06): Command Center tab toggle with SSE synthesis readiness
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/app/globals.css
  frontend/src/hooks/useAgentStates.ts
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/command-center-config.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

docs(08-06): complete Command Center integration plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-06-SUMMARY.md
Due: none

FIX : Sync errors
  packages/types/src/generated/api.ts
Due: none

feat(08-07): wire timeline to real synthesis API data
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/constants/timeline.constants.ts
  frontend/src/hooks/useTimelineData.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/lib/api/timelineApi.ts
  frontend/src/lib/utils/eventProcessors.ts
  frontend/src/types/timeline.types.ts
Due: eslint, prettier

feat(08-07): add verdict badge to case header and list
  backend/app/schemas/case.py
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/app/case-card.tsx
  frontend/src/types/case.ts
  packages/types/src/generated/api.ts
Due: ruff-format, ruff-check, eslint, prettier

FIX : lint errors
  backend/alembic/versions/add_case_notes_table.py
  backend/app/api/notes.py
  backend/app/main.py
  backend/app/schemas/__init__.py
  backend/app/schemas/notes.py
  frontend/src/app/(app)/cases/[id]/notebook/page.tsx
  frontend/src/components/app/case-nav-section.tsx
  frontend/src/components/notebook/AudioRecorder.tsx
  frontend/src/components/notebook/NoteCard.tsx
  frontend/src/components/notebook/Notebook.tsx
  frontend/src/components/notebook/ViewToggle.tsx
  frontend/src/components/source-viewer/PdfViewer.tsx
  frontend/src/hooks/useNotes.ts
  frontend/src/lib/api/notes.ts
  frontend/src/middleware.ts
Due: ruff-format, ruff-check, eslint, prettier

docs(08-07): complete timeline wiring + verdict badge plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-07-SUMMARY.md
Due: none

style: format frontend
  frontend/src/components/notebook/Notebook.tsx
Due: eslint, prettier

docs(08): complete synthesis agent & intelligence layer phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/08-synthesis-intelligence/08-VERIFICATION.md
Due: none

fix(08): resolve synthesis pipeline crash and timeline runtime errors
  backend/app/agents/synthesis.py
  backend/app/api/timeline.py
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
Due: ruff-format, ruff-check, eslint, prettier

fix(08): replace dict type with typed model for Gemini schema compat
  backend/app/agents/synthesis.py
  backend/app/schemas/synthesis.py
Due: ruff-format, ruff-check

fix(08): resolve gap entity display and KG agent event routing
  backend/app/agents/base.py
  backend/app/agents/prompts/synthesis.py
  backend/app/agents/synthesis.py
  backend/app/api/synthesis.py
  backend/app/schemas/synthesis.py
  frontend/src/components/verdict/GapDetailPanel.tsx
  frontend/src/types/synthesis.ts
  packages/types/src/generated/api.ts
Due: ruff-format, ruff-check, eslint, prettier

docs(08): update Synthesis Agent status to COMPLETE and document post-completion bugfixes
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(08.1): update roadmap and create comprehensive Phase 8.1 requirements
  .planning/ROADMAP.md
  .planning/phases/08.1-geospatial/CONTEXT.md
  .planning/phases/08.1-geospatial/REQUIREMENTS.md
Due: none

docs(08.1): capture phase context
  .planning/phases/08.1-geospatial-agent-map-view/08.1-CONTEXT.md
Due: none

docs(08.1): research geospatial agent and map view domain
  .planning/phases/08.1-geospatial-agent-map-view/08.1-RESEARCH.md
Due: none

docs(08.1): create phase plan
  .planning/ROADMAP.md
  .planning/phases/08.1-geospatial-agent-map-view/08.1-CONTEXT.md
  .planning/phases/08.1-geospatial/08.1-01-PLAN.md
  .planning/phases/08.1-geospatial/08.1-02-PLAN.md
  .planning/phases/08.1-geospatial/08.1-03-PLAN.md
  .planning/phases/08.1-geospatial/08.1-04-PLAN.md
  .planning/phases/08.1-geospatial/08.1-05-PLAN.md
  .planning/phases/08.1-geospatial/08.1-RESEARCH.md
Due: none

chore(08.1-01): add googlemaps dependency
  backend/pyproject.toml
Due: none

feat(08.1-01): implement geocoding service with caching
  backend/app/services/geocoding_service.py
Due: ruff-format, ruff-check

docs(08.1-01): complete geocoding service foundation plan
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-01-SUMMARY.md
Due: none

feat(08.1-02): add geospatial schemas and system prompt
  backend/app/agents/prompts/geospatial.py
  backend/app/schemas/geospatial.py
Due: ruff-format, ruff-check

feat(08.1-02): implement geospatial agent with pipeline integration
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-02-SUMMARY.md
  backend/app/agents/factory.py
  backend/app/agents/geospatial.py
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

fix(08.1-02): correct method signature and import for type safety
  backend/app/agents/geospatial.py
Due: ruff-format, ruff-check

feat(08.1-03): create locations API endpoints
  backend/app/api/locations.py
Due: ruff-format, ruff-check

feat(08.1-03): register locations router in main.py
  backend/app/main.py
Due: ruff-format, ruff-check

docs(08.1-03): complete locations API plan
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-03-SUMMARY.md
Due: none

feat(08.1-04): add geospatial API client and data management hook
  frontend/src/hooks/useGeospatialData.ts
  frontend/src/lib/api/geospatial.ts
Due: eslint, prettier

feat(08.1-04): add geospatial trigger UI and real API integration
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/button.tsx
Due: eslint, prettier

docs(08.1-04): complete geospatial frontend integration plan
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-04-SUMMARY.md
Due: none

feat(08.1-04): add geospatial API endpoints for case management and status retrieval
  backend/uv.lock
  packages/types/src/generated/api.ts
Due: none

feat(08.1-05): enhance geospatial map location detail panel
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-05-SUMMARY.md
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
Due: eslint, prettier

Path conditions:
  ruff-format: any of: backend/**/*.py and ^backend/
  ruff-check: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
