Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

fix(03): remove redundant Upload tab from case navigation
  frontend/src/app/(app)/cases/[id]/layout.tsx
Due: eslint, prettier

feat(03): add file download, duplicate detection, multi-select delete
  .env.example
  backend/alembic/versions/a7c2f9e83d12_add_duplicate_of_column.py
  backend/app/api/files.py
  backend/app/config.py
  backend/app/models/file.py
  backend/app/schemas/file.py
  backend/app/services/file_service.py
  bun.lock
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/page.tsx
  frontend/src/app/(app)/cases/[id]/upload/page.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/lib/api/files.ts
  packages/types/src/generated/api.ts
Due: ruff-check, ruff-format, eslint, prettier

fix(ci): add checks:read permission for wait-on-check-action
  .github/workflows/deploy.yml
Due: none

docs(03): update roadmap and state files to reflect Phase 3 verification and completion
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(04): capture phase context
  .planning/phases/04-core-agent-system/04-CONTEXT.md
Due: none

docs(04): update complexity assessment to hybrid approach
  .planning/phases/04-core-agent-system/04-CONTEXT.md
Due: none

docs(04): research phase domain
  .planning/phases/04-core-agent-system/04-RESEARCH.md
Due: none

docs(04): create phase plan for Core Agent System
  .planning/ROADMAP.md
  .planning/phases/04-core-agent-system/04-01-PLAN.md
  .planning/phases/04-core-agent-system/04-02-PLAN.md
  .planning/phases/04-core-agent-system/04-03-PLAN.md
  .planning/phases/04-core-agent-system/04-04-PLAN.md
  .planning/phases/04-core-agent-system/04-05-PLAN.md
Due: none

docs(04): refine complexity assessment details for Triage Agent
  .planning/phases/04-core-agent-system/04-CONTEXT.md
Due: none

docs(04): enhance core agent architecture with stage-isolated sessions and configurable thinking levels
  .planning/REQUIREMENTS.md
  .planning/phases/04-core-agent-system/04-01-PLAN.md
  .planning/phases/04-core-agent-system/04-03-PLAN.md
  .planning/phases/04-core-agent-system/04-04-PLAN.md
  .planning/phases/04-core-agent-system/04-05-PLAN.md
  .planning/phases/04-core-agent-system/04-CONTEXT.md
  .planning/phases/04-core-agent-system/04-RESEARCH.md
Due: none

feat(auth): add dev API key auth for Swagger UI testing
  .env.example
  GUIDE.md
  backend/app/api/auth.py
  backend/app/config.py
  backend/app/main.py
Due: ruff-check, ruff-format

feat(04-01): add ADK dependencies and Gemini configuration
  backend/app/config.py
  backend/pyproject.toml
Due: ruff-check, ruff-format

feat(04-01): create ADK service layer with session and artifact services
  backend/app/services/__init__.py
  backend/app/services/adk_service.py
Due: ruff-check, ruff-format

feat(04-01): create agent base configurations and factory pattern
  backend/app/agents/__init__.py
  backend/app/agents/base.py
  backend/app/agents/factory.py
Due: ruff-check, ruff-format

docs(04-01): complete ADK infrastructure plan
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-01-SUMMARY.md
Due: none

fix(04-01): use ensure_future for Awaitable publish_fn in callbacks
  backend/app/agents/base.py
Due: ruff-check, ruff-format

feat(04-02): add AgentExecution SQLAlchemy model with full audit trail
  backend/app/models/__init__.py
  backend/app/models/agent_execution.py
  backend/app/models/case.py
Due: ruff-check, ruff-format

feat(04-02): add Pydantic schemas for triage output and agent execution CRUD
  backend/app/schemas/__init__.py
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat(04-02): add alembic migration for agent_executions table
  backend/alembic/versions/0562cc9e65bd_add_agent_executions_table.py
Due: ruff-check, ruff-format

docs(04-02): complete agent execution models & schemas plan
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-02-SUMMARY.md
Due: none

feat(04-03): create triage agent system prompt
  backend/app/agents/prompts/__init__.py
  backend/app/agents/prompts/triage.py
Due: ruff-check, ruff-format

feat(04-03): implement triage agent and execution function
  backend/app/agents/factory.py
  backend/app/agents/triage.py
Due: ruff-check, ruff-format

feat(04-03): add triage agent exports and integration
  backend/app/agents/__init__.py
Due: ruff-check, ruff-format

docs(04-03): complete triage agent plan
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-03-SUMMARY.md
Due: none

feat(04-04): add orchestrator output schemas
  backend/app/schemas/__init__.py
  backend/app/schemas/agent.py
Due: ruff-check, ruff-format

feat(04-04): create orchestrator system prompt with routing guardrails
  backend/app/agents/prompts/__init__.py
  backend/app/agents/prompts/orchestrator.py
Due: ruff-check, ruff-format

feat(04-04): implement orchestrator agent and execution function
  backend/app/agents/__init__.py
  backend/app/agents/factory.py
  backend/app/agents/orchestrator.py
Due: ruff-check, ruff-format

docs(04-04): complete orchestrator agent plan
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-04-SUMMARY.md
Due: none

feat(04-05): create agent event publishing service
  backend/app/services/__init__.py
  backend/app/services/agent_events.py
Due: ruff-check, ruff-format

feat(04-05): add command center SSE endpoint for agent events
  backend/app/api/sse.py
Due: ruff-check, ruff-format

feat(04-05): create agent execution API with background analysis pipeline
  backend/app/api/agents.py
  backend/app/main.py
Due: ruff-check, ruff-format

docs(04-05): complete agent API & SSE integration plan
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-05-SUMMARY.md
Due: none

chore(04): update lockfile after ADK dependency additions
  backend/uv.lock
Due: none

docs(04): complete core agent system phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-core-agent-system/04-VERIFICATION.md
Due: none

feat: enhance agent functionality with new API key and output schemas
  .env.example
  backend/app/agents/factory.py
  backend/app/agents/orchestrator.py
  backend/app/api/agents.py
  backend/app/config.py
  backend/app/schemas/agent.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-check, ruff-format

feat: add logging enhancements and duration tracking for analysis workflow
  backend/app/agents/orchestrator.py
  backend/app/agents/triage.py
  backend/app/api/agents.py
  backend/app/config.py
  backend/app/database.py
  backend/app/logging_config.py
  backend/app/main.py
Due: ruff-check, ruff-format

fix: harden LLM output parsing with fence removal and retry logic
  backend/app/agents/orchestrator.py
  backend/app/agents/prompts/orchestrator.py
  backend/app/agents/prompts/triage.py
  backend/app/agents/triage.py
Due: ruff-check, ruff-format

chore(infra): add Gemini API key secret and bump backend resources
  terraform/cloud-run.tf
  terraform/secrets.tf
Due: none

fix: remove deprecated loop param from ensure_future
  backend/app/agents/base.py
Due: ruff-check, ruff-format

fix: use asyncio.to_thread for GCS and add File API poll timeout
  backend/app/services/adk_service.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
