Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: bun eslint {staged_files}

prettier:
  run: bun prettier --check {staged_files}

docs(02-05): complete app shell plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-05-SUMMARY.md
Due: none

feat(02-06): add case types and validation schemas
  frontend/src/lib/validations/case.ts
  frontend/src/types/case.ts
Due: eslint, prettier

feat(02-06): add case list components
  frontend/src/components/app/case-card.tsx
  frontend/src/components/app/case-list.tsx
  frontend/src/components/app/empty-state.tsx
Due: eslint, prettier

feat(02-06): add case creation modal and pages
  frontend/src/app/(app)/cases/[id]/page.tsx
  frontend/src/app/(app)/cases/page.tsx
  frontend/src/components/app/create-case-modal.tsx
Due: eslint, prettier

docs(02-06): complete case list and creation UI plan
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-06-SUMMARY.md
Due: none

docs(02): complete Authentication & Case Shell phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-authentication-case-shell/02-VERIFICATION.md
Due: none

fix: connect landing page CTAs to login page
  frontend/src/components/landing/cta-section.tsx
  frontend/src/components/landing/google-gemini-effect.tsx
  frontend/src/components/landing/hero.tsx
  frontend/src/components/landing/navigation.tsx
Due: eslint, prettier

chore: add migration for Better Auth + Alembic setup
  GUIDE.md
  Makefile
Due: none

chore(dev-db): add adminer service
  GUIDE.md
  Makefile
  docker-compose.yml
Due: none

fix(backend): map Better Auth columns to camelCase
  backend/app/models/auth.py
Due: ruff-check, ruff-format

chore(frontend): align default API URL to 8080
  frontend/.env.example
  frontend/src/lib/api-client.ts
Due: eslint, prettier

feat(frontend): allow external avatar domains in next/image
  frontend/next.config.ts
Due: none

feat(ui): update app shell branding and avatars
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/app/user-menu.tsx
Due: eslint, prettier

fix(auth): redirect + toast on login/signup/logout
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
  frontend/src/hooks/use-logout.ts
Due: eslint, prettier

fix(ui): prioritize sidebar logo image for LCP
  frontend/public/logo.svg
  frontend/src/components/app/sidebar.tsx
Due: eslint, prettier

feat(auth): implement tab synchronization for logout events
  frontend/src/app/(app)/layout.tsx
  frontend/src/components/app/auth-listener.tsx
  frontend/src/hooks/use-logout.ts
  frontend/src/lib/tab-id.ts
Due: eslint, prettier

feat(backend): make OpenAPI generation safe and standardised ErrorResponse
  backend/app/api/auth.py
  backend/app/api/cases.py
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/app/schemas/__init__.py
Due: ruff-check, ruff-format

chore(types): generate TS types from FastAPI OpenAPI via openapi-typescript
  .github/workflows/deploy.yml
  Makefile
  bun.lock
  lefthook.yml
  package.json
  packages/types/src/generated/api.ts
  packages/types/src/index.ts
Due: none

docs: updated type generation references from pydantic2ts to openapi-typescript
  .planning/phases/01-foundation-infrastructure/01-01-PLAN.md
  .planning/phases/01-foundation-infrastructure/01-01-SUMMARY.md
  .planning/phases/01-foundation-infrastructure/01-03-PLAN.md
  .planning/phases/01-foundation-infrastructure/01-03-SUMMARY.md
  .planning/phases/01-foundation-infrastructure/01-06-PLAN.md
  .planning/phases/01-foundation-infrastructure/01-CONTEXT.md
  .planning/phases/01-foundation-infrastructure/01-RESEARCH.md
  .planning/phases/01-foundation-infrastructure/01-VERIFICATION.md
  GUIDE.md
  backend/app/schemas/__init__.py
Due: ruff-check, ruff-format

fix: update lefthook configuration for ruff commands
  GUIDE.md
  Makefile
  backend/app/api/cases.py
  backend/pyproject.toml
  backend/uv.lock
  lefthook.yml
Due: ruff-check, ruff-format

fix: enhance database connection handling and migration process in deploy workflow
  .github/workflows/deploy.yml
Due: none

chore(deployment): implement database password management via Google Secret Manager for CI migrations
  .github/workflows/deploy.yml
  terraform/secrets.tf
Due: none

fix: add IAM binding for GitHub Actions to connect to Cloud SQL via Cloud SQL Proxy
  terraform/iam.tf
Due: none

fix: integrate Better Auth and Google OAuth secrets into CI with IAM permissions for GitHub Actions
  .github/workflows/deploy.yml
  terraform/secrets.tf
Due: none

fix: update database URL handling for Better Auth migrations and add support for multiple runtimes
  .github/workflows/deploy.yml
Due: none

fix: resolve production CORS by adding NEXT_PUBLIC_APP_URL to Dockerfile and auto-including frontend_url in CORS origins
  backend/app/config.py
  frontend/Dockerfile
  frontend/package.json
  frontend/src/lib/auth-client.ts
Due: ruff-check, ruff-format, eslint, prettier

feat: enhance login and signup forms with password visibility toggle and improved error handling
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
Due: eslint, prettier

fix: update error message styling in login and signup forms to use red color
  frontend/src/app/globals.css
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/signup-form.tsx
Due: eslint, prettier

feat: add dotted canvas background pattern and apply it to main layout
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/globals.css
Due: eslint, prettier

feat: add production-grade light/dark theme support with warm sepia palette
  bun.lock
  frontend/GUIDE.md
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(marketing)/layout.tsx
  frontend/src/app/(marketing)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/app/case-card.tsx
  frontend/src/components/app/case-list.tsx
  frontend/src/components/app/create-case-modal.tsx
  frontend/src/components/app/empty-state.tsx
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/app/themed-logo.tsx
  frontend/src/components/app/user-menu.tsx
  frontend/src/components/providers.tsx
Due: eslint, prettier

fix: scope light mode styles to prevent leakage into landing/auth pages
  frontend/GUIDE.md
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/globals.css
Due: eslint, prettier

ADD : Navbar and placeholder pages
  bun.lock
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/app/(app)/cases/[id]/page.tsx
  frontend/src/app/(app)/cases/[id]/timeline/page.tsx
  frontend/src/app/(app)/cases/[id]/upload/page.tsx
  frontend/src/components/ui/expandable-tabs.tsx
  frontend/src/components/ui/index.ts
Due: eslint, prettier

ADD : Evidence nodes and map for node reference
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/KNOWLEDGE-GRAPH-README.md
  frontend/src/components/app/knowledge-graph.tsx
  frontend/src/components/ui/expandable-tabs.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-case-graph.ts
  frontend/src/lib/graph-dataset.ts
  frontend/src/lib/graph-event-emitter.ts
  frontend/src/lib/mock-graph-data.ts
  frontend/src/types/knowledge-graph.ts
Due: eslint, prettier

FIX : new connection issue between nodes
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

FIX : fixed random motion of graph
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

FIX : Relations counter
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

FIX : Added additional hooks from previous project
  bun.lock
  frontend/src/components/app/INTEGRATION-EXAMPLE.tsx
  frontend/src/components/app/MIGRATION-GUIDE.md
  frontend/src/hooks/KNOWLEDGE-GRAPH-HOOKS.md
  frontend/src/hooks/QUICK-REFERENCE.md
  frontend/src/hooks/README.md
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCluster.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useDrag.ts
  frontend/src/hooks/useForceSimulation.ts
  frontend/src/hooks/usePanelState.ts
  frontend/src/hooks/useZoom.ts
  frontend/src/lib/d3-helpers.ts
Due: eslint, prettier

FIX : fixed navbar
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/ui/expandable-tabs.tsx
Due: eslint, prettier

FIX : Knowledge graph color scheme fixes
  frontend/src/components/app/knowledge-graph.tsx
Due: eslint, prettier

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
