Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, eslint, prettier

lefthook.yml:

# Lefthook configuration for git hooks
# Source: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    ruff-format:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    ruff-check:
      glob: "backend/**/*.py"
      root: "backend/"
      run: uv run ruff check {staged_files}
    eslint:
      glob: "frontend/**/*.{js,ts,tsx}"
      root: "frontend/"
      run: npx eslint {staged_files}
    prettier:
      glob: "frontend/**/*.{js,ts,tsx,json,css,md}"
      root: "frontend/"
      run: npx prettier --check {staged_files}

pre-push:
  commands:
    backend-format-check:
      run: cd backend && uv run ruff format --check .
    backend-lint-check:
      run: cd backend && uv run ruff check .
    generate-types:
      run: |
        make generate-types
        if [ -n "$(git status --porcelain packages/types/)" ]; then
          echo "Type generation produced changes. Run 'make generate-types' and commit the results before pushing."
          git diff -- packages/types/
          exit 1
        fi

docs(08.1-05): complete geospatial detail panel enhancement plan
  .planning/phases/08.1-geospatial/08.1-05-SUMMARY.md
Due: none

docs(08.1): complete geospatial agent and map view phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08.1-geospatial/08.1-VERIFICATION.md
Due: none

fix(alembic): merge case_notes and verdict migration branches
  backend/alembic/versions/475d688d81ea_merge_case_notes_and_verdict_branches.py
  backend/alembic/versions/add_case_notes_table.py
Due: ruff-format, ruff-check

fix(geospatial): resolve runtime errors and harden data pipeline
  .env.example
  backend/alembic/versions/daad8c23f758_add_citations_to_locations.py
  backend/app/agents/factory.py
  backend/app/agents/geospatial.py
  backend/app/agents/prompts/geospatial.py
  backend/app/api/locations.py
  backend/app/models/synthesis.py
  backend/app/schemas/geospatial.py
  backend/app/services/pipeline.py
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
  frontend/src/hooks/useGeospatialData.ts
  frontend/src/lib/api/geospatial.ts
Due: ruff-format, ruff-check, eslint, prettier

feat(geospatial): auto-fit bounds, collapsible legend, remove duplicate map controls
  frontend/src/components/Geospatial/GeospatialMap.tsx
Due: eslint, prettier

chore(deploy): add Google Maps API key to build pipeline
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

chore(api): generate api types for note management schemas
  backend/app/main.py
  packages/types/src/generated/api.ts
Due: ruff-format, ruff-check

docs(10): capture phase context
  .planning/ROADMAP.md
  .planning/phases/10-source-panel/10-CONTEXT.md
Due: none

docs(10): research phase domain
  .planning/phases/10-source-panel/10-RESEARCH.md
Due: none

docs(10): create phase plan
  .planning/ROADMAP.md
  .planning/phases/10-source-panel/10-01-PLAN.md
  .planning/phases/10-source-panel/10-02-PLAN.md
  .planning/phases/10-source-panel/10-03-PLAN.md
Due: none

fix(10): revise plans based on checker feedback
  .planning/phases/10-source-panel/10-02-PLAN.md
  .planning/phases/10-source-panel/10-03-PLAN.md
Due: none

feat(10-01): citation utilities and source navigation hook
  frontend/src/hooks/useSourceNavigation.ts
  frontend/src/lib/citation-utils.ts
Due: eslint, prettier

feat(10-01): entity resolver hook and citation/entity UI components
  frontend/src/components/ui/citation-link.tsx
  frontend/src/components/ui/entity-badge.tsx
  frontend/src/hooks/useEntityResolver.ts
Due: eslint, prettier

docs(10-01): complete shared citation and entity resolution plan
  .planning/STATE.md
  .planning/phases/10-source-panel/10-01-SUMMARY.md
Due: none

feat(10-02): wire KG entity panel and timeline entry to source navigation
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphEntityPanel.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

feat(10-02): wire geospatial detail panel with source navigation and entity resolution
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
Due: eslint, prettier

docs(10-02): complete KG and geospatial source navigation plan
  .planning/STATE.md
  .planning/phases/10-source-panel/10-02-SUMMARY.md
Due: none

feat(10-03): wire verdict detail panels with source navigation
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/verdict/ContradictionDetailPanel.tsx
  frontend/src/components/verdict/GapDetailPanel.tsx
  frontend/src/components/verdict/HypothesisDetailPanel.tsx
  frontend/src/components/verdict/VerdictView.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

feat(10-03): wire timeline event cards with source citation navigation
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
Due: eslint, prettier

docs(10-03): complete verdict & timeline source navigation plan
  .planning/STATE.md
  .planning/phases/10-source-panel/10-03-SUMMARY.md
Due: none

docs(10): complete source panel & entity resolution phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-source-panel/10-VERIFICATION.md
Due: none

fix(10): resolve source viewer bugs across timeline and PDF viewer
  frontend/src/components/Geospatial/GeospatialMap.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/source-viewer/PdfViewer.tsx
  frontend/src/hooks/useSourceNavigation.ts
  frontend/src/lib/api/timelineApi.ts
  frontend/src/lib/citation-utils.ts
Due: eslint, prettier

feat(10): add finding resolver for enriched citation display
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/EventDetail/EventDetailModal.tsx
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphEntityPanel.tsx
  frontend/src/components/verdict/ContradictionDetailPanel.tsx
  frontend/src/components/verdict/HypothesisDetailPanel.tsx
  frontend/src/components/verdict/VerdictView.tsx
  frontend/src/hooks/useFindingResolver.ts
  frontend/src/lib/api/findings.ts
  frontend/src/types/detail-sidebar.ts
  frontend/src/types/findings.ts
Due: eslint, prettier

fix(10): add caseId to sidebar useEffect dependency array
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
Due: eslint, prettier

docs(10): update roadmap and state for phase 10 completion
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(9): revise phase 9 scope to evidence-backed chat with DB tools
  .planning/ROADMAP.md
Due: none

docs(09): capture phase context
  .planning/phases/09-chat-interface/09-CONTEXT.md
Due: none

FIX : Sherlock diary slider button
  frontend/src/components/notebook/Notebook.tsx
Due: eslint, prettier

FIX : Sherlock's diary heading to match timeline
  frontend/src/components/notebook/Notebook.tsx
Due: eslint, prettier

docs(9): research phase domain for chat interface
  .planning/phases/09-chat-interface/09-RESEARCH.md
Due: none

docs(09): create phase plan
  .planning/ROADMAP.md
  .planning/phases/09-chat-interface/09-01-PLAN.md
  .planning/phases/09-chat-interface/09-02-PLAN.md
Due: none

FIX : Shared memory cache for view and redact
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/hooks/useFileUrlCache.ts
Due: eslint, prettier

fix(09): revise plans based on checker feedback
  .planning/phases/09-chat-interface/09-01-PLAN.md
  .planning/phases/09-chat-interface/09-CONTEXT.md
Due: none

feat(09-01): chat tools and system prompt
  backend/app/agents/chat_tools.py
  backend/app/agents/prompts/chat.py
Due: ruff-format, ruff-check

feat(09-01): chat service, API endpoint, and router registration
  backend/app/api/chat.py
  backend/app/main.py
  backend/app/services/chat_service.py
  packages/types/src/generated/api.ts
Due: ruff-format, ruff-check

docs(09-01): complete chat backend plan
  .planning/STATE.md
  .planning/phases/09-chat-interface/09-01-SUMMARY.md
Due: none

FIX : Redact modal view
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/ui/evidence-viewer/EvidencePreviewModal.tsx
Due: eslint, prettier

feat(09-02): install fetch-event-source, update types, rewrite useChatbot hook
  bun.lock
  frontend/package.json
  frontend/src/hooks/useChatbot.ts
  frontend/src/types/chatbot.ts
Due: eslint, prettier

feat(09-02): enhance chatbot with markdown, citations, tool activity, stop/clear
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/app/chatbot.tsx
Due: eslint, prettier

docs(09-02): complete chat frontend plan
  .planning/STATE.md
  .planning/phases/09-chat-interface/09-02-SUMMARY.md
Due: none
