Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, eslint, prettier

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-check:
  run: uv run ruff check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

feat(07.2-fix): redesign FilterPanel as floating vertical overlay
  frontend/src/components/knowledge-graph/FilterPanel.tsx
Due: eslint, prettier

feat(07.2-fix): graph visual overhaul with shapes, icons, and edge disclosure
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/hooks/useGraphSelection.ts
  frontend/src/hooks/useGraphSimulation.ts
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

fix(07.2-fix): normalize font sizes across KG components
  frontend/src/components/knowledge-graph/EntityTimeline.tsx
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
Due: eslint, prettier

fix(07.2-fix): zoom-aware edge label restoration and comment correction
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/types/knowledge-graph.ts
Due: eslint, prettier

fix(07.2-polish): canvas background color and dot-pattern zoom scaling
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

fix(07.2-polish): KG page height to match CC viewport fit
  frontend/src/app/(app)/cases/[id]/knowledge-graph/page.tsx
Due: eslint, prettier

fix(07.2-polish): edge label visibility after hover at high zoom
  frontend/src/components/knowledge-graph/GraphSvg.tsx
Due: eslint, prettier

feat(07.2-polish): tiered node sizing by connection degree
  frontend/src/hooks/useGraphSimulation.ts
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

feat(07.2-polish): composite edge weight for visual width differentiation
  frontend/src/hooks/useGraphSimulation.ts
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

feat(07.2-polish): glassy node aesthetic with gradients and accent glow
  frontend/src/hooks/useGraphSimulation.ts
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

feat(07.2-polish): polished tooltip design with glass blur and accent stripes
  frontend/src/components/knowledge-graph/GraphSvg.tsx
Due: eslint, prettier

fix(07.2-polish): QC findings — stale closure, tooltip overflow, edge cases
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/hooks/useGraphSimulation.ts
  frontend/src/lib/knowledge-graph-config.ts
  frontend/src/types/knowledge-graph.ts
Due: eslint, prettier

fix(07.2-r3): stabilize simulation lifecycle on resize + zoom performance
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

feat(07.2-r3): vibrant node colors + unified entity badge styling
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/lib/knowledge-graph-config.ts
Due: eslint, prettier

feat(07.2-r3): sidebar UX polish — text contrast, click-to-navigate, source labels
  frontend/src/components/app/detail-sidebar.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
  frontend/src/components/knowledge-graph/KnowledgeGraphEntityPanel.tsx
  frontend/src/types/detail-sidebar.ts
Due: eslint, prettier

fix(07.2-r3): QC finding — stabilize entity select callback ref
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
Due: eslint, prettier

fix(07.2-r3): suppress kg_builder console warnings with agent key alias
  frontend/src/lib/command-center-validation.ts
Due: eslint, prettier

fix(07.2-r3): readable text contrast in timeline entries and tooltips
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
  frontend/src/components/knowledge-graph/GraphSvg.tsx
Due: eslint, prettier

feat(07.2-r3): CC-style borderless nodes with glow on hover
  frontend/src/hooks/useGraphSelection.ts
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

feat(07.2-r3): zoom-to-node when clicking connected entity in sidebar
  frontend/src/components/knowledge-graph/KnowledgeGraphCanvas.tsx
Due: eslint, prettier

fix(07.2-polish): timeline text uses smoke instead of stone for readability
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
Due: eslint, prettier

feat(07.2-polish): ambient glow on all nodes with stronger hover glow
  frontend/src/hooks/useGraphSimulation.ts
Due: eslint, prettier

fix(07.2-polish): sidebar entity click triggers full selection highlighting
  frontend/src/components/knowledge-graph/GraphSvg.tsx
  frontend/src/hooks/useGraphSelection.ts
Due: eslint, prettier

fix(07.2-polish): larger date label in timeline entries
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
Due: eslint, prettier

fix(07.2-polish): date label wraps instead of clipping on overflow
  frontend/src/components/knowledge-graph/EntityTimelineEntry.tsx
Due: eslint, prettier

docs(07.2): mark phase complete — 46 commits, source viewer deferred to Phase 10
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07.2-kg-frontend-d3-enhancement/07.2-05-SUMMARY.md
Due: none

fix(docs): updated all requirement and planning docs for Phase 8
  .planning/MINOR_ISSUES.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

docs(08): capture phase context
  .planning/phases/08-synthesis-intelligence/08-CONTEXT.md
Due: none

docs(08): research phase domain
  .planning/phases/08-synthesis-intelligence/08-RESEARCH.md
Due: none

docs(08): create phase plan
  .planning/ROADMAP.md
  .planning/phases/08-synthesis-intelligence/08-01-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-02-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-03-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-04-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-05-PLAN.md
Due: none

fix(08): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/08-synthesis-intelligence/08-01-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-02-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-04-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-05-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-06-PLAN.md
  .planning/phases/08-synthesis-intelligence/08-07-PLAN.md
Due: none

feat(08-01): add InvestigationTask model and Case verdict columns
  backend/alembic/versions/f8a3b2c91d40_add_investigation_tasks_and_verdict_cols.py
  backend/app/models/__init__.py
  backend/app/models/case.py
  backend/app/models/investigation_task.py
Due: ruff-format, ruff-check

feat(08-01): add SynthesisOutput schema and API response schemas
  backend/app/schemas/synthesis.py
Due: ruff-format, ruff-check

docs(08-01): complete synthesis schema foundation plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-01-SUMMARY.md
Due: none

feat(08-02): synthesis agent runner, prompt, and factory method
  backend/app/agents/factory.py
  backend/app/agents/prompts/synthesis.py
  backend/app/agents/synthesis.py
Due: ruff-format, ruff-check

feat(08-02): pipeline Stage 8 synthesis integration and SSE events
  backend/app/services/agent_events.py
  backend/app/services/pipeline.py
Due: ruff-format, ruff-check

docs(08-02): complete synthesis agent runner plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-02-SUMMARY.md
Due: none

feat(08-03): synthesis API endpoints
  backend/app/api/synthesis.py
Due: ruff-format, ruff-check

feat(08-03): timeline API endpoints and router registration
  backend/app/api/timeline.py
  backend/app/main.py
  backend/app/schemas/synthesis.py
Due: ruff-format, ruff-check

docs(08-03): complete synthesis API endpoints plan
  .planning/STATE.md
  .planning/phases/08-synthesis-intelligence/08-03-SUMMARY.md
Due: none

Path conditions:
  ruff-format: any of: backend/**/*.py and ^backend/
  ruff-check: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
