Repository Siddharth-Khattar/holmes: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, prettier

ruff-check:
  run: uv run ruff check {staged_files}

ruff-format:
  run: uv run ruff format --check {staged_files}

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check {staged_files}

style: mute timeline colors and align palette with command center agents
  frontend/src/components/Timeline/Timeline.tsx
  frontend/src/components/Timeline/TimelineControls.tsx
  frontend/src/components/Timeline/TimelineCore.tsx
  frontend/src/components/Timeline/TimelineEventCard.tsx
  frontend/src/components/Timeline/TimelineHeader.tsx
  frontend/src/constants/timeline.constants.ts
Due: eslint, prettier

ADD : Redact feature
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/components/library/index.ts
  frontend/src/lib/mock-file-data.ts
Due: eslint, prettier

ADD : Geospatial page
  bun.lock
  frontend/.env.example
  frontend/package.json
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
  frontend/src/components/Geospatial/index.ts
  frontend/src/lib/mock-geospatial-data.ts
  frontend/src/types/geospatial.types.ts
Due: eslint, prettier

FIX : Linting errors
  frontend/src/app/(app)/cases/[id]/geospatial/page.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/lib/mock-file-data.ts
  frontend/src/lib/mock-geospatial-data.ts
Due: eslint, prettier

FIX : More lint errors
  frontend/src/app/(app)/cases/[id]/layout.tsx
  frontend/src/components/Geospatial/GeospatialMap.tsx
  frontend/src/components/library/CaseLibrary.tsx
  frontend/src/components/library/RedactModal.tsx
  frontend/src/lib/mock-file-data.ts
  frontend/src/lib/mock-geospatial-data.ts
  frontend/src/types/geospatial.types.ts
Due: eslint, prettier

feat(05-01): enrich agent callbacks with real-time thinking traces and SSE publish factory
  backend/app/agents/base.py
  backend/app/services/agent_events.py
Due: ruff-check, ruff-format

feat(05-02): add HITL confirmation service with asyncio.Event pause/resume
  backend/app/services/confirmation.py
Due: ruff-check, ruff-format

feat(05-02): add confirmation REST API endpoints and register router
  backend/app/api/confirmations.py
  backend/app/main.py
Due: ruff-check, ruff-format

docs(05-01): complete SSE event enrichment plan
  .planning/STATE.md
  .planning/phases/05-agent-flow/05-01-SUMMARY.md
Due: none

docs(05): research phase domain
  .planning/phases/05-agent-flow/05-RESEARCH.md
Due: none

feat(05-01): enrich pipeline SSE events with metadata and add state snapshot on reconnect
  backend/app/agents/base.py
  backend/app/agents/orchestrator.py
  backend/app/agents/triage.py
  backend/app/api/agents.py
  backend/app/api/sse.py
Due: ruff-check, ruff-format

docs(05): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-agent-flow/05-01-PLAN.md
  .planning/phases/05-agent-flow/05-02-PLAN.md
  .planning/phases/05-agent-flow/05-03-PLAN.md
  .planning/phases/05-agent-flow/05-04-PLAN.md
Due: none

docs(05-02): complete HITL confirmation dialogs plan
  .planning/STATE.md
  .planning/phases/05-agent-flow/05-02-SUMMARY.md
Due: none

feat(05-03): add SSE event types and validators for thinking traces and confirmations
  frontend/src/lib/command-center-validation.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

docs(05-04): complete HITL confirmation UI plan
  .planning/STATE.md
  .planning/phases/05-agent-flow/05-04-SUMMARY.md
Due: none

fix(05): enforce type field in publish_agent_event payload
  backend/app/api/sse.py
  backend/app/services/agent_events.py
Due: ruff-check, ruff-format

feat(05-04): add token usage, duration badges, and execution timeline
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/ExecutionTimeline.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
Due: eslint, prettier

fix(05): add missing type field to state-snapshot SSE payload
  backend/app/api/sse.py
Due: ruff-check, ruff-format

feat(05-03): fix SSE URL and add thinking/snapshot/confirmation event handlers
  frontend/src/hooks/useAgentStates.ts
  frontend/src/hooks/useCommandCenterSSE.ts
Due: eslint, prettier

docs(05-03): complete frontend SSE integration plan
  .planning/STATE.md
  .planning/phases/05-agent-flow/05-03-SUMMARY.md
Due: none

feat(05-04): add HITL confirmation modal, API client, and tab badge support
  frontend/src/app/(app)/cases/[id]/command-center/page.tsx
  frontend/src/components/CommandCenter/ConfirmationModal.tsx
  frontend/src/components/ui/expandable-tabs.tsx
  frontend/src/lib/api/confirmations.ts
Due: eslint, prettier

refactor(05): replace mypy shortcuts with proper type-safe solutions
  backend/app/agents/base.py
  backend/app/agents/factory.py
  backend/app/api/auth.py
  backend/app/services/adk_service.py
  backend/app/services/file_service.py
  backend/app/storage.py
Due: ruff-check, ruff-format

fix(05): critical P0 fixes for race conditions, error handling, validation
  backend/app/services/agent_events.py
  backend/app/services/confirmation.py
  frontend/src/components/CommandCenter/ConfirmationModal.tsx
  frontend/src/lib/api/confirmations.ts
  frontend/src/lib/command-center-validation.ts
Due: ruff-check, ruff-format, eslint, prettier

fix(05): improve type safety and input validation
  backend/app/api/confirmations.py
  backend/app/services/agent_events.py
  frontend/src/hooks/useAgentStates.ts
Due: ruff-check, ruff-format, eslint, prettier

fix(05): add accessibility improvements to Command Center components
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/ExecutionTimeline.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
Due: eslint, prettier

fix(05): resolve mypy type errors across backend
  backend/app/agents/base.py
  backend/app/agents/factory.py
  backend/app/api/auth.py
  backend/app/services/adk_service.py
  backend/app/services/file_service.py
Due: ruff-check, ruff-format

refactor(05): centralize constants for SSE heartbeat and confirmation timeout
  backend/app/api/sse.py
  backend/app/config.py
  backend/app/services/confirmation.py
Due: ruff-check, ruff-format

fix(05): add cleanup for abandoned confirmations and timeout refs
  backend/app/services/confirmation.py
  frontend/src/hooks/useCommandCenterSSE.ts
Due: ruff-check, ruff-format, eslint, prettier

refactor(05): extract shared utilities and DRY event handlers
  frontend/src/components/CommandCenter/DecisionNode.tsx
  frontend/src/components/CommandCenter/ExecutionTimeline.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/formatting.ts
Due: eslint, prettier

feat(05): add evidence agent type to frontend config
  frontend/src/app/globals.css
  frontend/src/lib/command-center-config.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

fix(05): align SSE event format with frontend validation
  backend/app/agents/base.py
Due: ruff-check, ruff-format

docs: update planning docs for Phase 5 completion
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

fix(05): align frontend SSE validation with backend event schemas
  backend/app/services/agent_events.py
  frontend/src/components/CommandCenter/AgentDetailsPanel.tsx
  frontend/src/components/CommandCenter/ConfirmationModal.tsx
  frontend/src/components/CommandCenter/NodeDetailsSidebar.tsx
  frontend/src/hooks/useAgentStates.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/lib/mock-command-center-data.ts
  frontend/src/types/command-center.ts
Due: ruff-check, ruff-format, eslint, prettier

feat(05): add full tool-called event support to frontend
  frontend/src/hooks/useAgentStates.ts
  frontend/src/hooks/useCommandCenterSSE.ts
  frontend/src/lib/command-center-validation.ts
  frontend/src/types/command-center.ts
Due: eslint, prettier

chore: sync generated types with confirmation API endpoints
  packages/types/src/generated/api.ts
Due: none

feat(ui): create SidebarTabs component for vertical sidebar navigation
  frontend/src/components/ui/sidebar-tabs.tsx
Due: eslint, prettier

feat(app): create CaseNavSection component with self-aware case context detection
  frontend/src/components/app/case-nav-section.tsx
Due: eslint, prettier

feat(app): integrate CaseNavSection into Sidebar component
  frontend/src/components/app/sidebar.tsx
Due: eslint, prettier

refactor(app): replace Topbar with Sidebar in app layout
  frontend/src/app/(app)/layout.tsx
Due: eslint, prettier

refactor(cases): simplify case header by removing tabs and back arrow
  frontend/src/app/(app)/cases/[id]/layout.tsx
Due: eslint, prettier

Path conditions:
  ruff-check: any of: backend/**/*.py and ^backend/
  ruff-format: any of: backend/**/*.py and ^backend/
  eslint: any of: frontend/**/*.{js,ts,tsx} and ^frontend/
  prettier: any of: frontend/**/*.{js,ts,tsx,json,css,md} and ^frontend/
